{% extends "View/layout.twig" %}

{% if formCreate is defined %}
    {% set page_title = "Novo grupo" %}
{% endif %}

{% if formUpdate is defined %}
    {% set page_title = "Editando: " ~ group_activity.title %}
{% endif %}

{% block scripts %}
    <script type="text/javascript" src="{{ base_url() }}/dist/js/administrator_group_activities.js"></script>
{% endblock %}

{% block content %}
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path_for("administrator.control.index") }}">Administração</a></li>
        <li class="breadcrumb-item"><a href="{{ path_for("administrator.control.groupactivities") }}">Grupos de Atividades</a></li>
        <li class="breadcrumb-item active">Novo Grupo</li>
    </ul>
    <div class="row my-4">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title mb-0">
                        {% if formUpdate is defined %}
                            {{ group_activity.title }}
                        {% endif %}
                        
                        {% if formCreate is defined %}
                            Preencha os campos abaixo
                        {% endif %}
                    </h5>
                </div>

                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <label for="input-frmgroup-title">Título</label>
                            <input id="input-frmgroup-title" type="text" class="form-control" placeholder="Título" {% if formUpdate is defined %} value="{{ group_activity.title }}" {% endif %}></input>
                        </div>
                        
                        <div class="form-group">
                            <label for="input-frmgroup-tags">Tag</label>
                            <input id="input-frmgroup-tags" type="text" class="form-control" placeholder="Tag" {% if formUpdate is defined %} value="{{ group_activity.tags[0] }}" {% endif %}></input>
                        </div>
                        
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="input-frmgroup-visible" {% if formUpdate is defined %}{% if group_activity.visible %}checked{% endif %}{% endif %}>
                            <label class="form-check-label" for="input-frmgroup-visible" >Visível</label>
                        </div>
                    </form>
                </div>

                <div class="card-footer">
                    {% if formCreate is defined %}
                        <button id="btn-create-group" type="button" class="btn btn-cosmo-color-2">Criar grupo</button>
                    {% endif %}

                    {% if formUpdate is defined %}
                        <input type="hidden" id="input-frmgroup-id" value="{{ group_activity.id }}">
                        <button id="btn-update-group" type="button" class="btn btn-cosmo-color-2">Atualizar grupo</button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="">
        <a href="{{ path_for("administrator.control.groupactivities") }}" class="btn btn-danger cosmo-color-1 float-right">Voltar</a>
    </div>
{% endblock %}