{% extends "View/layout.twig" %}
{% set page_title = "Grupo de Atividades" %}

{% block content %}

    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path_for("administrator.control.index") }}">Administração</a></li>
        <li class="breadcrumb-item active">Grupo de Atividades</li>
    </ul>

    <div class="row">
        <div class="col-12">
            <a href="{{ path_for("administrator.control.groupactivities.create") }}" class="btn btn-cosmo-color-2 float-right">Novo</a>
        </div>
    </div>

    <div class="row my-4">
        {# <div class="col-md-4">
            <div class="nav flex-column nav-pills mb-4" role="tablist" aria-orientation="vertical">
                <a class="nav-link" href="{{ path_for("administrator.control.users") }}">Usuários</a>
                <a class="nav-link" href="{{ path_for("administrator.control.activities") }}">Atividades</a>
                <a class="nav-link active" href="{{ path_for("administrator.control.groupactivities") }}">Grupo de atividades</a>
            </div>
        </div>
 #}
        <div class="col-md-12">
            <div class="row">
                {% for group in group_activities %}
                    <div class="col-md-6 my-1">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title mb-0">{{ group.getName }}           
                                        <i class="fa fa-star fa-2x" style="float:right;"></i>
                                        <i class="fa fa-star fa-2x" style="float:right;"></i>
                                        <i class="fa fa-star fa-2x" style="float:right;"></i>
                                        
                                </h5>
                                
                            </div>

                            <div class="card-body">
                                <p class="card-subtitle mb-2 text-muted">Tags:</p>
                                {% for tag in group.getTags %}
                                    <h5 class="mb-0"><span class="badge badge-cosmo-color-4">{{ tag }}</span></h5>
                                {% endfor %}
                            </div>

                            <div class="card-footer">
                                <div class="row">
                                    <div class="col-6">
                                        <a href="{{ path_for("administrator.control.groupactivities.modify", {"id": group.getId}) }}" class="btn btn-cosmo-color-2 w-100">Editar</a>
                                    </div>

                                    <div class="col-6">
                                        <a href="{{ path_for("administrator.control.groupactivities.remove", {"id": group.getId}) }}" class="btn btn-danger w-100">Apagar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="">
        <a href="{{ path_for("administrator.control.index") }}" class="btn btn-danger cosmo-color-1 float-right">Voltar</a>
    </div>
{% endblock %}