{% extends "View/layout.twig" %}
{% block pagetitle %}Administração do Cosmo{% endblock %}
{% block title %}Administração do Cosmo - Atividades{% endblock %}

{% block content %}
    <div class="admin-users">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <ul class="list-fast-menu">
                    <li><a href="{{ path_for("administrator.control.users") }}">Usuários</a></li>
                    <li><a href="{{ path_for("administrator.control.activities") }}">Atividades</a></li>
                    <li><a class="active" href="{{ path_for("administrator.control.groupactivities") }}">Grupos de Atividades</a></li>
                </ul>
            </div>
        </nav>

        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-md-9"></div>
                    <div class="col-md-3">
                        <a href="{{ path_for("administrator.control.groupactivities.create") }}" type="button" class="btn btn-block btn-success">Novo Grupo de Atividade</a>
                    </div>
                </div>

                <div class="row">
                    {% for group in group_activities %}
                        <div class="col-md-3">
                            <div class="box box-widget">
                                <div class="box-header widget-border box-question">
                                    <div class="user-block">
                                        <span class="username">{{ group.getName|raw }}</span>
                                        <div class="label-box">
                                            {% set tags = group.getTags %}
                                            {% for tag in tags %}
                                                <small class="label bg-blue">{{ tag }}</small>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>

                                <div class="box-footer">
                                    <div class="row option-question">
                                        <div class="col-lg-6 col-xs-6 col-sm-6 col-md-6">
                                            <a href="{{ path_for("administrator.control.groupactivities.modify", {"id": group.getId}) }}" type="button" class="btn btn-default btn-block"> Editar</a>
                                        </div>
                                        <div class="col-lg-6 col-xs-6 col-sm-6 col-md-6">
                                            <a href="{{ path_for("administrator.control.groupactivities.remove", {"id": group.getId}) }}" type="button" class="btn btn-default btn-block"> Apagar</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}