{% extends "View/layout.twig" %}
{% set page_title = "Visualizando: " ~ group.title %}

{% block content %}
<ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path_for("administrator.control.index") }}">Administração</a></li>
        <li class="breadcrumb-item active">Grupo de Atividades</li>
    </ul>
    <div class="row my-4">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title mb-0">{{ group.title }}</h5>
                </div>

                <div class="card-body">
                    <span class="text-muted">Atividades cadastradas: {{ group.activities|length }}</span>

                    {% for tag in group.tags %}
                        <h5 class="mb-0 mt-2"><span class="badge badge-cosmo-color-4">{{ tag }}</span></h5>
                    {% endfor %}
                </div>
            </div>
        </div>
        
        <div class="col-md-8">
            <div class="row">
                <div class="col-12 my-2">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title mb-0">Atividades</h5>
                        </div>

                        <div class="card-body">
                            <div class="row">
                                {% for activity in group.activities %}
                                    <div class="col-md-6">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5 class="card-title mb-0">{{ activity.getTitle }}</h5>
                                            </div>

                                            <div class="card-body">
                                                <p class="card-subtitle mb-2 text-muted">{{ activity.getQuestion }}</p>

                                                {% for tag in activity.getGroup.getTags %}
                                                    <h5 class="mb-0"><span class="badge badge-cosmo-color-4">{{ tag }}</span></h5>
                                                {% endfor %}
                                            </div>

                                            <div class="card-header">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <a href="{{ path_for("administrator.control.activities.modify", {id: activity.getId}) }}" class="btn btn-cosmo-color-2 w-100">Editar</a>
                                                    </div>
                                                    <div class="col-6">
                                                        <a href="{{ path_for("administrator.control.activities.remove", {id: activity.getId}) }}" class="btn btn-danger w-100">Remover</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="d-none col-12 my-2">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title mb-0">Desafios</h5>
                        </div>

                        <div class="card-body">
                            <div class="row">
                                {% for challenge in challenges %}
                                    <div class="col-md-6">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5 class="card-title mb-0">{{ challenge.title }}</h5>
                                                <h5 class="mb-0"><span class="badge badge-cosmo-color-4">{% if challenge.type == "common" %}Desafio comum{% elseif challenge.type == "clock" %}Desafio contra-o-relógio{% endif %}</span></h5>
                                            </div>

                                            <div class="card-body">
                                                {% for question in challenge.questions %}
                                                    <div class="card my-1">
                                                        <div class="card-body">
                                                            <p class="text-muted mb-0">Questão: {{ question.id.title }}</p>
                                                            <p class="text-muted mb-0">Descrição: {{ question.id.question }}</p>
                                                            <p class="mb-0">Nível: {% if question.level == "0" %}Fácil{% elseif question.level == "1" %}Médio{% elseif question.level == "2" %}Difícil{% endif %}</p>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>

                                            <div class="card-footer">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <a href="{{ path_for("administrator.control.classes.challenges.edit", {id: challenge.id}) }}" class="btn btn-cosmo-color-2 w-100">Editar</a>
                                                    </div>

                                                    <div class="col-6">
                                                        <a href="{{ path_for("administrator.control.classes.challenges.remove", {id: challenge.id}) }}" class="btn btn-danger w-100">Remover</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="card-footer">
                            <a href="{{ path_for("administrator.control.skills.challenges.new", {id: group.id}) }}" class="btn btn-cosmo-color-2 float-right">Adicionar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="">
        <a href="javascript:history.back()" class="btn btn-danger cosmo-color-1 float-right">Voltar</a>
    </div>
{% endblock %}