{% extends "/View/layout.twig" %}

{% if formCreate is defined %}
    {% set page_title = "Novo usuário" %}
{% endif %}

{% if formUpdate is defined %}
    {% set page_title = "Editando " ~ user.fullname %}
{% endif %}

{% block scripts %}
    <script type="text/javascript" src="{{ base_url() }}/dist/js/administrator_users.js"></script>
{% endblock %}

{% block content %}
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path_for("administrator.control.index") }}">Administração</a></li>
        <li class="breadcrumb-item"><a href="{{ path_for("administrator.control.users") }}">Usuários</a></li>
        <li class="breadcrumb-item active">Novo Usuário</li>
    </ul>
    <div class="row mb-4">
        <div class="col-md-3 mt-4">
            <div class="card">
                <div class="card-header">
                    <img id="img-frmuser-avatar" class="card-img-top" {% if formUpdate is defined %} src="{{ user.avatar }}" {% endif %}>
                </div>

                {% if formUpdate is defined %}
                <div class="card-body">
                    <h5 class="card-title">{{ user.fullname }}</h5>
                    <h6 class="card-subtitle">{{ user.nickname }}</h6>
                    <p class="text-muted mb-0"><small>{{ user.username }}</small></p>
                </div>
                {% endif %}

                <div class="card-footer">
                    <input id="input-frmuser-fileupload" type="file" class="d-none">
                    <button id="btn-alter-image" class="btn btn-cosmo-color-2">Alterar foto de perfil</button>
                </div>
            </div>
        </div>

        <div class="col-md-9 mt-4">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title mb-0">Dados</h5>
                </div>

                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <label for="input-frmuser-name">Nome</label>
                            <input id="input-frmuser-name" type="text" class="form-control" placeholder="Nome completo" {% if formUpdate is defined %} value="{{ user.fullname }}" {% endif %}></input>
                        </div>
                        
                        <div class="form-group">
                            <label for="input-frmuser-nickname-group">Nome de usuário</label>
                            <div class="input-group" id="input-frmuser-nickname-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">@</span>
                                </div>
                                <input id="input-frmuser-nickname" type="text" class="form-control" placeholder="Nome de usuário" {% if formUpdate is defined %} value="{{ user.nickname }}" {% endif %} aria-label="Nome de Usuário"></input>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="input-frmuser-email">Email</label>
                            <input id="input-frmuser-email" type="text" class="form-control" placeholder="Email" {% if formUpdate is defined %} value="{{ user.username }}" {% endif %}></input>
                        </div>
                        
                        {% if formCreate is defined %}
                            <div class="form-group">
                                <label for="input-frmuser-password">Senha</label>
                                <input id="input-frmuser-password" type="password" class="form-control" placeholder="Senha"></input>    
                            </div>
                        {% endif %}

                        <div class="form-group">
                            <label for="input-frmuser-fulltitle-group">Título</label>
                            <div class="input-group" id="input-frmuser-fulltitle-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text bg-light"><i class="fas fa-crown"></i></span>
                                </div>
                                <select class="form-control" id = "input-frmuser-fulltitle">
                                    {% if not attributes.fulltitle is defined %}<option>Escolha um Título de nobreza</option>{% endif %}
                                    <option {% if attributes.fulltitle is defined and attributes.fulltitle == "Escudeiro/Escudeira" %}selected{% endif %} value="Escudeiro/Escudeira">Escudeiro/Escudeira</option>
                                    <option {% if attributes.fulltitle is defined and attributes.fulltitle == "Barão/Baronesa" %}selected{% endif %} value="Barão/Baronesa">Barão/Baronesa</option>
                                    <option {% if attributes.fulltitle is defined and attributes.fulltitle == "Visconde/Viscondessa" %}selected{% endif %} value="Visconde/Viscondessa">Visconde/Viscondessa</option>
                                    <option {% if attributes.fulltitle is defined and attributes.fulltitle == "Conde/Condessa" %}selected{% endif %} value="Conde/Condessa">Conde/Condessa</option>
                                    <option {% if attributes.fulltitle is defined and attributes.fulltitle == "Marquês/Marquessa" %}selected{% endif %} value="Marquês/Marquessa">Marquês/Marquessa</option>
                                    <option {% if attributes.fulltitle is defined and attributes.fulltitle == "Duque/Duquesa" %}selected{% endif %} value="Duque/Duquesa">Duque/Duquesa</option>
                                    <option {% if attributes.fulltitle is defined and attributes.fulltitle == "Grão-duque/Grã-duquesa" %}selected{% endif %} value="Grão-duque/Grã-duquesa">Grão-duque/Grã-duquesa</option>
                                    <option {% if attributes.fulltitle is defined and attributes.fulltitle == "Imperador/Imperadora" %}selected{% endif %} value="Imperador/Imperadora">Imperador/Imperadora</option>
                                    <option {% if attributes.fulltitle is defined and attributes.fulltitle == "Herdeiro de Turing" %}selected{% endif %} value="Herdeiro de Turing">Herdeiro de Turing</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="input-frmuser-class-group">Turma</label>
                            <div class="input-group" id="input-frmuser-class-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-users"></i></span>
                                </div>
                                <input id="input-frmuser-class" type="text" class="form-control" placeholder="Turma" {% if attributes.class %} disabled value="{{ attributes.class.title }}" {% endif %} aria-label="Turma"></input>
                            </div>
                        </div>
                       
                        <div class="form-check">
                            <input id="input-frmuser-administrator" type="checkbox" class="form-check-input" {% if formUpdate is defined and user.administrator %} checked {% endif %}>
                            <label for="input-frmuser-administrator" class="form-check-label">Administrador</label>
                        </div>
                       
                        {% if formUpdate is defined %}
                            <div class="form-check">
                                <input id="input-frmuser-block" type="checkbox" class="form-check-input" {% if formUpdate is defined and user.blocked and user.blocked.status %} checked {% endif %}>
                                <label for="input-frmuser-block" class="form-check-label">Bloqueado</label>
                            </div>

                            <div class="form-group mt-2">
                                <label for="input-frmuser-reason">Razão do bloqueio</label>
                                <input id="input-frmuser-reason" type="text" class="form-control" placeholder="Razão do bloqueio" {% if formUpdate is defined and user.blocked %} value="{{ user.blocked.reason }}" {% endif %}></input>
                            </div>
                        {% endif %}
                    </form>
                </div>

                <div class="card-footer">
                    {% if formCreate is defined %}
                        <button id="btn-create-profile" type="submit" class="btn btn-cosmo-color-2">Enviar</button>
                    {% endif %}

                    {% if formUpdate is defined %}
                        <input id="input-hidden-id" type="hidden" value="{{ user.id }}">
                        <button id="btn-close-profile" class="btn btn-danger">Encerrar conta</button>
                        <button id="btn-update-profile" type="submit" class="btn btn-cosmo-color-2">Salvar</button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}