{% extends "View/layout.twig" %}
{% set page_title = "Usuários" %}

{% block styles %}
    <link rel="stylesheet" href="{{ base_url() }}/dist/css/administrator/users/style.min.css">
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ base_url() }}/dist/js/administrator_users.js"></script>
{% endblock %}

{% block content %}
     <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path_for("administrator.control.index") }}">Administração</a></li>
        <li class="breadcrumb-item active">Usuários</li>
    </ul>

    <div class="row">
        <div class="col-12">
            <a href="{{ path_for("administrator.control.users.new") }}" class="btn btn-cosmo-color-1 float-right">Novo</a>
        </div>
    </div>

    <div class="row my-4">
        {# <div class="col-md-4">
            <div class="nav flex-column nav-pills mb-4" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" href="{{ path_for("administrator.control.users") }}">Usuários</a>
                <a class="nav-link" href="{{ path_for("administrator.control.activities") }}">Atividades</a>
                <a class="nav-link" href="{{ path_for("administrator.control.groupactivities") }}">Grupo de atividades</a>
            </div>
        </div> #}

        <div class="col-md-12">
            <div class="row">
                <div class="col-12">           
                    <table data-toggle="table"
                        data-mobile-responsive="true"
                        data-pagination="true"
                        data-page-size="10"
                        data-search="true">

                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Nome de usuário</th>
                                <th>Email</th>
                                <th>Opções</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for user in users %}
                                <tr>
                                    <td>{{ user.fullname }}</td>
                                    <td>{{ user.nickname }}</td>
                                    <td>{{ user.username }}</td>
                                    <td>
                                        <a href="{{ path_for("administrator.control.users.modify", {"id": user.getId }) }}" class="btn btn-cosmo-color-1">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                        <a href="{{ path_for("administrator.controls.users.remove", {"id": user.getId }) }}" class="btn btn-danger">
                                            <i class="fas fa-trash-alt"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}