{% extends "View/layout.twig" %}
{% block pagetitle %}Histórico de Atividades{% endblock %}
{% block title %}Histórico{% endblock %}


{% set bg_color =  "#AAA9AA" %}

{% block scripts %}
    <script src="{{ base_url() }}/node_modules/jquery-bar-rating/dist/jquery.barrating.min.js"></script>
    <script>
        $('.rating-bar-type-a').barrating({
            theme: 'bars-1to10'
        });
    </script>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ base_url() }}/node_modules/jquery-bar-rating/dist/themes/bars-1to10.css">
{% endblock %}

{% block content %}

    {% for group, allActivities in allGroupActivities %}
        <section>
            <h2 class="page-header">{{ group }}</h2>

            <div class="row">
                {% for activity in allActivities %}
                    {% set history = activity.getHistoryActivities.first %}
                    <div class="col-md-3">
                        <!-- Box Comment -->
                        <div class="box box-widget">
                            <div class="box-header with-border box-question"
                                 style="background-color: {{ bg_color }}; border-color: {{ bg_color }}">
                                <div class="user-block">
                                    <span class="username">{{ activity.getTitle|raw }}</span>
                                    <span class="description">Publicado por: Carlos Salles - {{ activity.getDateCreate|date("d/m/Y") }}</span>
                                    <div class="label-box">
                                        {% set group = activity.getGroup %}
                                        {% set tags = group.getTags %}
                                        {% for tag in tags %}
                                            <small class="label bg-blue">{{ tag }}</small>
                                        {% endfor %}
                                    </div>
                                </div>
                                <!-- /.user-block -->
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <!-- post text -->
                                <p>{{ activity.getQuestion|raw }}</p>
                            </div>
                            <form action="{{ path_for('activities') }}" method="post">
                                <div class="box-footer">
                                    <div class="row option-question">
                                        <div class="col-lg-6 col-xs-6 col-sm-6 col-md-6"></div>
                                        <div class="col-lg-6 col-xs-6 col-sm-6 col-md-6">
                                            <button type="submit" class="btn btn-primary btn-block" style="background-color: {{ bg_color }}; border-color: {{ bg_color }}"> Refazer</button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6 col-xs-6 col-sm-6 col-md-6">
                                            <small>Dificuldade</small>
                                            <select class="rating-bar-type-a">
                                                <option value="1" {% if history.getDifficulty == 1 %} selected {% endif %}>1</option>
                                                <option value="2" {% if history.getDifficulty == 2 %} selected {% endif %}>2</option>
                                                <option value="3" {% if history.getDifficulty == 3 %} selected {% endif %}>3</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-6 col-xs-6 col-sm-6 col-md-6">
                                            {% if history.getClassification == 1 %}
                                            <div class="like">
                                                <img src="{{ base_url() }}/assets/img/like.svg" class="img-responsive"/>
                                            </div>
                                            {% else %}
                                            <div class="dislike">
                                                <img src="{{ base_url() }}/assets/img/dislike-thumb.svg"
                                                     class="img-responsive"/>
                                            </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <input name="id-activities" type="hidden" value="{{ activity.getId }}">
                            </form>
                        </div>
                        <!-- /.box -->
                    </div>
                {% endfor %}
            </div>
        </section>
    {% endfor %}
{% endblock %}