{% extends "View/layout.twig" %}
{% set page_title = "Atividades" %}

{% set groups_count = 0 %}
{% set challenges_count = 0 %}

{% block content %}
    <div class="row my-4">
        {% if hasNoClass is defined %}
            <p>Sem turma</p>
        {% else %}
            <div class="col-md-8">
                <div class="row">
                    {% for group in groups %}
                        {% if not group.activities|length == 0 %}
                            {% set groups_count = groups_count + 1 %}
                            <div class="col-12 mb-2">
                                <div class="card">
                                    <div class="card-header">
                                        <h5 class="card-title mb-0">{{ group.title }}</h5>
                                    </div>

                                    <div class="card-body">
                                        <div class="row">
                                            {% for activity in group.activities %}
                                                <div class="col-md-6 my-2">
                                                    <div class="card">
                                                        <div class="card-body">
                                                            <h5 class="card-title">{{ activity.getTitle }}</h5>
                                                            <p class="card-subtitle mb-2 text-muted"><small>Publicado por: {{ activity.getUploader.getFullname }} - {{ activity.getDateCreate|date("d/m/Y")}}</small></p>
                                                            <p class="card-subtitle">{{ activity.getQuestion }}</p>

                                                            <hr />

                                                            {% set group = activity.getGroup %}
                                                            {% for tag in group.getTags %}
                                                                <h5 class="mb-0"><span class="badge badge-cosmo-color-4">{{ tag }}</span></h5>
                                                            {% endfor %}
                                                        </div>

                                                        <form action="{{ path_for("activities") }}" method="POST">
                                                            <div class="card-footer">
                                                                <button type="submit" class="btn btn-cosmo-color-2">Responder</button>
                                                            </div>
                                                            <input name="id-activity" type="hidden" value="{{ activity.getId }}">
                                                        </form>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}

                    {% if groups_count == 0 %}
                        <span class="display-4 text-center">Não há questões disponíveis no momento para você.</span>
                    {% endif %}
                </div>
            </div>

            <div class="col-md-4">
                <div class="row">
                    <div class="col-12 mb-2">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title mb-0">Desafios</h5>
                            </div>

                            <div class="card-body">
                                <div class="row">
                                    {% for challenge in challenges %}
                                        {% if challenge.type == "common" %}
                                            {% set challenges_count = challenges_count + 1 %}
                                            <div class="col-12">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h5 class="card-title mb-0">{{ challenge.title }}</h5>
                                                    </div>

                                                    <div class="card-body">
                                                        <div class="row">
                                                            {% for question in challenge.questions %}
                                                                <div class="col-12 my-1">
                                                                    <div class="card">
                                                                        <div class="card-body">
                                                                            <h5 class="card-title mb-0">{{ question.id.getQuestion }}</h5>
                                                                            <h5 class="mb-0"><span class="badge badge-cosmo-color-4">{% if question.level == "0" %}<i class="fas fa-star"></i>{% elseif question.level == "1" %}<i class="fas fa-star"></i><i class="fas fa-star"></i>{% elseif question.level == "2" %}<i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>{% endif %}</span></h5>
                                                                        </div>

                                                                        <form action="{{ path_for("activities") }}" method="POST">
                                                                            <input type="hidden" name="challenge-type" value="{{ challenge.type }}">
                                                                            <input type="hidden" name="challenge-id" value="{{ challenge.id }}">
                                                                            <input type="hidden" name="challenge-level" value="{{ challenge.type }}">
                                                                            <div class="card-footer">
                                                                                <button type="submit" class="btn btn-cosmo-color-2">Responder</button>
                                                                            </div>
                                                                            <input name="id-activity" type="hidden" value="{{ question.id.getId }}">
                                                                        </form>
                                                                    </div>
                                                                </div>
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}

                                    {% if challenges_count == 0 %}
                                        <div class="col-12">
                                            <span class="display-5">Não há desafios disponíveis</span>
                                        </div>
                                    {% endif %}
                                    {% set challenges_count = 0 %}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 mb-2">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title mb-0">Contra-relógio</h5>
                            </div>

                            <div class="card-body">
                                <div class="row">
                                    {% for challenge in challenges %}
                                        {% if challenge.type == "clock" %}
                                            {% set challenges_count = challenges_count + 1 %}
                                            <div class="col-12">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h5 class="card-title mb-0">{{ challenge.title }}</h5>
                                                    </div>

                                                    <div class="card-body">
                                                        <div class="row">
                                                            {% for question in challenge.questions %}
                                                                <div class="col-12 my-1">
                                                                    <div class="card">
                                                                        <div class="card-body">
                                                                            <h5 class="card-title mb-0">{{ question.id.getQuestion }}</h5>
                                                                            <h5 class="mb-0"><span class="badge badge-cosmo-color-4">{% if question.level == "0" %}<i class="fas fa-star"></i>{% elseif question.level == "1" %}<i class="fas fa-star"></i><i class="fas fa-star"></i>{% elseif question.level == "2" %}<i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>{% endif %}</span></h5>
                                                                        </div>

                                                                        <form action="{{ path_for("activities") }}" method="POST">
                                                                            <input type="hidden" name="challenge-type" value="{{ challenge.type }}">
                                                                            <input type="hidden" name="challenge-id" value="{{ challenge.id }}">
                                                                            <input type="hidden" name="challenge-level" value="{{ challenge.type }}">
                                                                            <div class="card-footer">
                                                                                <button type="submit" class="btn btn-cosmo-color-2">Responder</button>
                                                                            </div>
                                                                            <input name="id-activity" type="hidden" value="{{ question.id.getId }}">
                                                                        </form>
                                                                    </div>
                                                                </div>
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}

                                    {% if challenges_count == 0 %}
                                        <div class="col-12">
                                            <span class="display-5">Não há desafios disponíveis</span>
                                        </div>
                                    {% endif %}
                                    {% set challenges_count = 0 %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}