{% extends "View/layout.twig" %}

{% if class is defined %}
    {% set page_title = class.getTitle %}
{% else %}
    {% set page_title = "Dashboard" %}
{% endif %}

{% block scripts %}
     
    <script type="text/javascript" src="{{ base_url() }}/dist/js/index.js"></script>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ base_url() }}/dist/css/index/style.min.css">
{% endblock %}

{% block content %}
    <div class="row my-2">
        {% if not class is defined %}
            <div class="col-12 text-center mt-4 mb-2">
                <span class="display-4">Você não está cadastrado em nenhum turma.</span>
            </div>

            <div class="col-12 text-center mt-2 mb-4">
                <span class="text-muted">Para entrar em uma sala, vá em <a href="{{ path_for("dashboard.profile") }}">Configurações</a></span>
            </div>
        {% else %}
            <div class="col-12">
                <div class="row mb-2">
                    <div class="col-12">
                        <span class="display-4 text-muted">Mestres da turma</span><i class = "top-3"></i>
                    </div>
                    <div id="students-container" class="col-12">
                        {% for user in class.getStudents %}
                            {% if not user.getAdministrator %}
                            <div class="col-2 d-inline">
                                <a href="{{ path_for("dashboard.profile.visit", {id: user.id}) }}" style = "text-decoration: none;">
                                    <img class="img-fluid rounded-circle" src="{{ user.getAvatar }}" alt = "user img {{user.getFullname}}"/>
                                    <div class = "badge animated infinite pulse badge-pill badge-cosmo-color-7">{{user.GetAnsweredActivities}}</div>
                                </a>
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>

                <div class="row my-4">
                    <div class="col-12">
                        <span class="display-4 text-muted">Habilidades</span>
                    </div>

                    <div class="col-12">
                        <div class="row">
                            {% for skill in groups if skill.id == "5c911df4ae6c6e7a2e3afdc5" %}
                                <div class="col-lg-6 my-2">
                                    <div class="card">
                                        <div class="card-header">
                                            <div class="row align-items-center justify-content-center">
                                                <div class="col-8">
                                                    <h5 class="card-title mb-0">{{ skill.title }}</h5>
                                                </div>

                                                <div class="col-4">
                                                    {% set count = 0 %}
                                                    {% for star in stars if star.completed and star.getGroupActivities.id == skill.id %}
                                                        <i class="fa fa-star text-cosmo-color-7" style="float:right;"></i>
                                                        {% set count = count + 1 %}
                                                    {% endfor %}
                                                    
                                                    {% for i in 1..( 3 - count) if count < 3%}                                                
                                                        <i class="fa fa-star text-cosmo-color-10" style="float:right;"></i>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="card-body">
                                            {# <span class="text-muted">Questões mais recentes</span> #}
                                            <div class="row mt-2">
                                                {% set count_activity = 0 %}
                                                {% for activity in skill.activities if count == 0 %}
                                                    {% if activity.category == "Obrigatória" and count_activity < 2 %}
                                                        <div class="col-lg-6">
                                                            <div class="card q-group mb-3">
                                                                <div class = "card-header text-center"><a class = "badge badge-cosmo-color-1 "href="{{ path_for("activities", {id: activity.getId, idGroup: skill.id}) }}">{{ activity.getTitle }}</a></div>
                                                                <div class="card-body text-center">
                                                                    <p class="text-muted mb-0">{{ activity.getQuestion }}</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    {% endif %}                            
                                                    {% set count_activity = count_activity + 1 %}
                                                {% endfor %}
                                                {% if count > 0 and count < 3 %}
                                                    <div class="text-center w-100">
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <i class="display-4 fas fa-smile"></i>
                                                            </div>

                                                            <div class="col-12">
                                                                <span class="display-5 text-muted">Você ainda pode ganhar mais estrelas!<br>Faça os Desafios!</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endif %}       
                                                {% if count == 3 %}
                                                    <div class="text-center w-100">
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <i class="display-4 fas fa-smile-wink"></i>
                                                            </div>

                                                            <div class="col-12">
                                                                <span class="display-5 text-muted">Você completou essa habilidade!</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            </div> 
                                        </div>

                                        <div class="card-footer text-center">
                                            <a href="{{ path_for("dashboard.skill", {idGroup: skill.id}) }}" class="btn btn-cosmo-color-1">Ver habilidade</a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}