{% extends "View/layout.twig" %}

{% if class is defined %}
    {% set page_title = class.getTitle %}
{% else %}
    {% set page_title = "Dashboard" %}
{% endif %}

{% block scripts %}   
    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
        }
        
        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
    </script>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ base_url() }}/dist/css/index/style.min.css">
{% endblock %}

{% block content %}
    <div class="row my-2">
        {% if not class is defined %}
            <div class="col-12 text-center mt-4 mb-2">
                <span class="display-4">Você não está cadastrado em nenhum turma.</span>
            </div>

            <div class="col-12 text-center mt-2 mb-4">
                <span class="text-muted">Para entrar em uma sala, vá em <a href="{{ path_for("dashboard.profile") }}">Configurações</a></span>
            </div>
        {% else %}
            <div class="col-12">
                <div class="row mb-2">
                    <div class="col-12">
                        <span class="display-4 text-muted">Alunos</span>                 
                    </div>
                    
                    <div id="students-container" class="col-12">
                        {% for user in class.getStudents %}
                            <div class="col-2">
                                <a href="{{ path_for("dashboard.profile.visit", {id: user.id}) }}">
                                    <img class="img-fluid mr-2 rounded-circle" src="{{ user.getAvatar }}"></img>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="row my-4">
                    <div class="col-12">
                        <span class="display-4 text-muted">Habilidades</span>
                    </div>

                    <div class="col-12">
                        <div class="row">
                            {% for skill in groups %}
                                <div class="col-lg-6 my-2">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="card-title mb-0">{{ skill.title }}</h5>
                                        </div>

                                        <div class="card-body">
                                            <span class="text-muted">Questões mais recentes</span>
                                            <div class="row mt-2">
                                                {% set count_activity = 0 %}
                                                {% for activity in skill.activities %}
                                                    {% if count_activity < 2 %}
                                                        <div class="col-lg-7">
                                                            <div class="card">
                                                                <div class="card-body">
                                                                    <span class="card-title mb-0"><a href="{{ path_for("activities", {id: activity.getId}) }}">{{ activity.getTitle }}</a></span>
                                                                    <p class="text-muted mb-0">{{ activity.getQuestion }}</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    {% endif %}
                                                    {% set count_activity = count_activity + 1 %}
                                                {% endfor %}

                                                {% if count_activity == 0 %}
                                                    <div class="text-center w-100">
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <i class="display-4 fas fa-smile-wink"></i>
                                                            </div>

                                                            <div class="col-12">
                                                                <span class="display-5 text-muted">Você completou essa habilidade!</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>

                                        <div class="card-footer d-flex align-items-center">
                                            <a href="{{ path_for("dashboard.skill", {id: skill.id}) }}" class="btn btn-cosmo-color-2">Ver habilidade</a>
                                            
                                            <div class="d-none ml-auto">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}

{#{% extends "View/layout.twig" %}
{% set page_title = "Atividades" %}

{% set groups_count = 0 %}
{% set challenges_count = 0 %}

{% block content %}
    <div class="row my-4">
        {% if hasNoClass is defined %}
            <div class="col-12 text-center">
                <span class="display-4">Você não está cadastrado em nenhuma sala.</span>
            </div>
        {% else %}
            <div class="col-md-8">
                <div class="row">
                    {% for group in groups %}
                        {% if not group.activities|length == 0 %}
                            {% set groups_count = groups_count + 1 %}
                            <div class="col-12 mb-2">
                                <div class="card">
                                    <div class="card-header">
                                        <h5 class="card-title mb-0">{{ group.title }}</h5>
                                    </div>

                                    <div class="card-body">
                                        <div class="row">
                                            {% for activity in group.activities %}
                                                <div class="col-md-6 my-2">
                                                    <div class="card">
                                                        <div class="card-body">
                                                            <h5 class="card-title">{{ activity.getTitle }}</h5>
                                                            <p class="card-subtitle mb-2 text-muted"><small>Publicado por: {{ activity.getUploader.getFullname }} - {{ activity.getDateCreate|date("d/m/Y")}}</small></p>
                                                            <p class="card-subtitle">{{ activity.getQuestion }}</p>

                                                            <hr />

                                                            {% set group = activity.getGroup %}
                                                            {% for tag in group.getTags %}
                                                                <h5 class="mb-0"><span class="badge badge-cosmo-color-4">{{ tag }}</span></h5>
                                                            {% endfor %}
                                                        </div>

                                                        <form action="{{ path_for("activities") }}" method="POST">
                                                            <div class="card-footer">
                                                                <button type="submit" class="btn btn-cosmo-color-2">Responder</button>
                                                            </div>
                                                            <input name="id-activity" type="hidden" value="{{ activity.getId }}">
                                                        </form>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}

                    {% if groups_count == 0 %}
                        <span class="display-4 text-center">Não há questões disponíveis no momento para você.</span>
                    {% endif %}
                </div>
            </div>

            <div class="col-md-4">
                <div class="row">
                    <div class="col-12 mb-2">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title mb-0">Desafios</h5>
                            </div>

                            <div class="card-body">
                                <div class="row">
                                    {% for challenge in challenges %}
                                        {% if challenge.type == "common" %}
                                            {% set challenges_count = challenges_count + 1 %}
                                            <div class="col-12">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h5 class="card-title mb-0">{{ challenge.title }}</h5>
                                                    </div>

                                                    <div class="card-body">
                                                        <div class="row">
                                                            {% for question in challenge.questions %}
                                                                <div class="col-12 my-1">
                                                                    <div class="card">
                                                                        <div class="card-body">
                                                                            <h5 class="card-title mb-0">{{ question.id.getQuestion }}</h5>
                                                                            <h5 class="mb-0"><span class="badge badge-cosmo-color-4">{% if question.level == "0" %}<i class="fas fa-star"></i>{% elseif question.level == "1" %}<i class="fas fa-star"></i><i class="fas fa-star"></i>{% elseif question.level == "2" %}<i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>{% endif %}</span></h5>
                                                                        </div>

                                                                        <form action="{{ path_for("activities") }}" method="POST">
                                                                            <input type="hidden" name="challenge-type" value="{{ challenge.type }}">
                                                                            <input type="hidden" name="challenge-id" value="{{ challenge.id }}">
                                                                            <input type="hidden" name="challenge-level" value="{{ challenge.type }}">
                                                                            <div class="card-footer">
                                                                                <button type="submit" class="btn btn-cosmo-color-2">Responder</button>
                                                                            </div>
                                                                            <input name="id-activity" type="hidden" value="{{ question.id.getId }}">
                                                                        </form>
                                                                    </div>
                                                                </div>
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}

                                    {% if challenges_count == 0 %}
                                        <div class="col-12">
                                            <span class="display-5">Não há desafios disponíveis</span>
                                        </div>
                                    {% endif %}
                                    {% set challenges_count = 0 %}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 mb-2">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title mb-0">Contra-relógio</h5>
                            </div>

                            <div class="card-body">
                                <div class="row">
                                    {% for challenge in challenges %}
                                        {% if challenge.type == "clock" %}
                                            {% set challenges_count = challenges_count + 1 %}
                                            <div class="col-12">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h5 class="card-title mb-0">{{ challenge.title }}</h5>
                                                    </div>

                                                    <div class="card-body">
                                                        <div class="row">
                                                            {% for question in challenge.questions %}
                                                                <div class="col-12 my-1">
                                                                    <div class="card">
                                                                        <div class="card-body">
                                                                            <h5 class="card-title mb-0">{{ question.id.getQuestion }}</h5>
                                                                            <h5 class="mb-0"><span class="badge badge-cosmo-color-4">{% if question.level == "0" %}<i class="fas fa-star"></i>{% elseif question.level == "1" %}<i class="fas fa-star"></i><i class="fas fa-star"></i>{% elseif question.level == "2" %}<i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>{% endif %}</span></h5>
                                                                        </div>

                                                                        <form action="{{ path_for("activities") }}" method="POST">
                                                                            <input type="hidden" name="challenge-type" value="{{ challenge.type }}">
                                                                            <input type="hidden" name="challenge-id" value="{{ challenge.id }}">
                                                                            <input type="hidden" name="challenge-level" value="{{ challenge.type }}">
                                                                            <div class="card-footer">
                                                                                <button type="submit" class="btn btn-cosmo-color-2">Responder</button>
                                                                            </div>
                                                                            <input name="id-activity" type="hidden" value="{{ question.id.getId }}">
                                                                        </form>
                                                                    </div>
                                                                </div>
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}

                                    {% if challenges_count == 0 %}
                                        <div class="col-12">
                                            <span class="display-5">Não há desafios disponíveis</span>
                                        </div>
                                    {% endif %}
                                    {% set challenges_count = 0 %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}#}