{% extends "View/layout.twig" %}

{% if class is defined %}
    {% set page_title = class.getTitle %}
{% else %}
    {% set page_title = "Dashboard" %}
{% endif %}

{% block scripts %}
     
    <script type="text/javascript" src="{{ base_url() }}/dist/js/index.js"></script>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ base_url() }}/dist/css/index/style.min.css">
{% endblock %}

{% block content %}
    <div class="row my-2 animated zoomIn">
        {% if not class is defined %}
            <div class="col-12 text-center mt-4 mb-2">
                <span class="display-4">Você não está cadastrado em nenhum turma.</span>
            </div>

            <div class="col-12 text-center mt-2 mb-4">
                <span class="text-muted">Para entrar em uma sala, vá em <a href="{{ path_for("dashboard.profile") }}">Configurações</a></span>
            </div>
        {% else %}
            <div class="col-12">
               {#  <div class="row mb-2">
                    <div class="col-12">
                        <span class="display-4 text-muted">Mestres da turma</span><i class = "top-3"></i>
                    </div>
                    <div id="students-container" class="col-12">
                        {% for user in class.getStudents %}
                            {% if not user.getAdministrator %}
                            <div class="col-2 d-inline">
                                <a href="{{ path_for("dashboard.profile.visit", {id: user.id}) }}" style = "text-decoration: none;">
                                    <img class="img-fluid rounded-circle" src="{{ user.getAvatar }}" alt = "user img {{user.getFullname}}"/>
                                    <div class = "badge animated infinite pulse badge-pill badge-cosmo-color-7">{{user.GetAnsweredActivities}}</div>
                                </a>
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div> #}

                <div class="row my-4">
                    <div class="col-12">
                        <span class="display-4 text-muted">Habilidades</span>
                    </div>

                    <div class="col-12">
                        <div class="row">
                            
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}