{% extends "/View/layout.twig" %}
{% set page_title = "Perfil" %}

{% block scripts %}

    <script>
    $(function setProgress(valor) {
       /* var current_progress = 0;
        var interval = setInterval(function() {
            current_progress += 10;
            $("#dynamic")
                .css("width", current_progress + "%")
                .attr("aria-valuenow", current_progress)
                .text(current_progress + "/100%");
            if (current_progress >= 100)
            clearInterval(interval);
        }, 1000); */

        var elem = document.getElementById("dynamic");
        var width = 1;
        var id = setInterval(frame, 10);
        function frame() {
        if (width >= 100) {
            clearInterval(id);
        } else {
            width++;
            elem.style.width = width + '%';
    }
  }
    });
    </script>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ base_url() }}/dist/css/profile-visit/style.min.css">
{% endblock %}

{% block content %}   



<ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ path_for("dashboard.index") }}">Dashboard</a></li>
    <li class="breadcrumb-item active">Perfil</li>
</ul>
    <div class = "row">
        <div class = "col-md-4 mt-2">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title text-center">
                        Feitos de {{attributes.fullname}}
                    </h5>
                </div>

                <div class = "btn-group mt-0">
                    <button type="button" class="btn btn-1" data-toggle="collapse" data-target="#cd-1" ><i class="fas fa-crown"></i></button>
                    <button type="button" class="btn btn-2" data-toggle="collapse" data-target="#cd-2" ><i class="fas fa-trophy"></i></button>
                </div>

                <div id = "cd-1" class = "collapse">
                    <div class="card border-cosmo-color-1 mx-sm-1 p-3 mt-4">
                        <div class="card border-cosmo-color-1 shadow text-cosmo-color-1 p-3 card-h"><span class="fas fa-crown" aria-hidden="true"></span></div>
                        <div class="mt-3"><h4>Títulos</h4></div>
                        <div class="mt-2"><h6>Infante</h6></div>
                        <div class="mt-2"><h6>Infante</h6></div>
                        <div class="mt-2"><h6>***</h6></div>
                    </div>
                </div>

                <div id = "cd-2" class = "collapse">
                    <div class="card border-cosmo-color-1 mx-sm-1 p-3 mt-4">
                        <div class="card border-cosmo-color-1 shadow text-cosmo-color-1 p-3 card-h"><span class="fas fa-trophy" aria-hidden="true"></span></div>
                        <div class="mt-3"><h4>Troféus</h4></div>
                        <div class="mt-2"><h6>*IF's Ouro*</h6></div>
                        <div class="mt-2"><h6>*While's Bronze*</h6></div>
                        <div class="mt-2"><h6>***</h6></div>
                    </div>
                </div>

            </div>
        </div>

        {# middle profile area #}
        <div class="col-md-4 mt-2">
            <div class = "card p-card">
                <div class = "card-header p-header">
                    <h5 class = "card-title mb-0 text-center">Sua foto e seus dados</h5>
                </div>

                <div class="card-up"></div>

                <div class="avatar mx-auto">
                    <img id="img-frmuser-avatar" src= "{{attributes.avatar}}" class="rounded-circle" alt=""/>
                </div>

                <div class = "card-body p-body mt-0">
                    <div class="card-title">
                        <h2>{{attributes.fullname}}</h2>
                    </div>
                    <hr>
                    <h3>
                    <div>
                        <span> <i class="brain" title="Pontos de Conhecimento" ></i> {{attributes.xp}} pontos</span>
                        <!-- <span id="dynamic" title="Pontos de Conhecimento" class="progress progress-bar progress-bar-striped" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></span> -->
                    </div>
                    
                        <div>
                            <span> <i class="coins" title="Moedas arrecadadas"> </i> :{{attributes.moedas}} moedas</span>
                        </div>
                        <div>
                            <span> <i class="papyrus"></i>Título: {{attributes.fulltitle}}</span>
                        </div>
                        
                    </h3>


                    <!-- <h3>
                        <span >Título: {{attributes.fulltitle}}</span>
                        
                            
                            <div class="progress">
                                <div id="dynamic" class="progress-bar progress-bar-striped" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        
                       
                        <span> <i class="coins"> </i> :{{attributes.moedas}} moedas</span>
                        
                        <span>Questões feitas: {{attributes.answered_activities}}</span>
                        <span>Submissões: 120</span> -->
                    </h3>
                </div>

                <div class = "card-footer p-footer text-center">
                    <a class = "btn btn-primary" href = "{{ path_for("dashboard.profile.edit") }}"> Editar Perfil </a>
                </div>
            </div> 
        </div>

        <div class = "col-md-4 mt-2 card-skill">
            <div class = "card">
                <div class="card-header">
                    <h5 class="card-title text-center">
                        Skills de {{attributes.fullname}}
                    </h5>
                </div>
                <div class = "card-body card-skill-body">
                    <figure class = "rounded">
                            <h4 class = "S-1">Atribuição: <button class = "btn btn-skill" ><i class = "fas fa-star text-success"></i><i class = "fas fa-star text-success"></i><i class = "fas fa-star"></i></button></h4>
                            <hr>
                            <h4 class = "S-2">Condição: <button class = "btn btn-skill"><i class = "fas fa-star text-success"></i><i class = "fas fa-star text-success"></i><i class = "fas fa-star"></i></button></h4>
                            <hr>
                            <h4 class = "S-3">Repetição: <button class = "btn btn-skill"><i class = "fas fa-star text-success"></i><i class = "fas fa-star text-success"></i><i class = "fas fa-star"></i></button></h4>
                    </figure>
                </div>
            </div>
        </div>
{#         <div>Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
 #}    </div>

        

{% endblock %}