{% extends "/View/layout.twig" %}
{% set page_title = "Seu Perfil" %}

{% block links %}
    <link href="https://fonts.googleapis.com/css?family=Lilita+One" rel="stylesheet">
{% endblock %}

{% block scripts %}
    <script src="{{ base_url() }}/dist/js/profile.js"></script> 
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="/dist/css/profile/style.min.css">
{% endblock %}

{% block content %}   
    <div class="row mb-5">
        <div class="col-md-3 mt-3">
            <figure class = "profile-card rounded">
                <img src="https://img.freepik.com/free-photo/wooden-plank-textured-background-material_53876-33591.jpg?size=626&ext=jpg" alt="" />
                <figcaption>
                    <div class = "profile-img">
                        {% if attributes.avatar %}
                            <img id="img-frmuser-avatar" class="profile" src="{{ attributes.avatar }}">
                        {% else %}
                            <img class="profile" src="/assets/img/student-avatar.png">
                        {% endif %}
                    </div>
                    <div class = "profile-data">
                        <h2> {{attributes.fullname}}
                        <span>{{attributes.fulltitle}}</span>
                        <span>Faturou: 500 coins</span>
                        <span>Questões feitas: 16</span>
                        <span>Level: 12</span>
                        <span>Desafios feitos: 7</span>
                        <span>Skills: Atribuidor Mestre</span></h2>
                        <input id="input-frmuser-fileupload" type="file" class="d-none">
                        <a href = "#" id="btn-alter-image" class="back-profile">Mudar foto</a>
                        <a href = "profile/visit">Ver como visitante</a>
                    </div>
                </figcaption>
            </figure>
        </div>

        <div class="col-md-5 mt-4" id = "user-form">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title mb-0 text-center">
                       Editar dados <i class = "fas fa-table"></i>
                    </h5>
                </div>

                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <label for="input-frmuser-name">Nome</label>
                            <div class="input-group" id="input-frmuser-name-group">
                                <div class="input-group-prepend">
                                        <span class="input-group-text bg-light"><i class="fas fa-signature"></i></span>
                                </div>
                                <input id="input-frmuser-name" type="text" class="form-control" placeholder="Nome completo" value="{{ attributes.fullname }}"></input>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="input-frmuser-nickname-group">Nome de usuário</label>
                            <div class="input-group" id="input-frmuser-nickname-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text bg-light"><i class="fas fa-atom"></i></span>
                                </div>
                                <input id="input-frmuser-nickname" type="text" class="form-control" placeholder="Nome de usuário" value="{{ attributes.nickname }}" aria-label="Nome de Usuário"></input>
                            </div>
                        </div> 
                        
                        <div class="form-group">
                            <label for="input-frmuser-fulltitle-group">Título</label>
                            <div class="input-group" id="input-frmuser-fulltitle-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text bg-light"><i class="fas fa-crown"></i></span>
                                </div>
                                <select class="form-control" id = "input-frmuser-fulltitle">
                                    <option value = "{{attributes.fulltitle}}" >Escolha um Título</option>
                                    <option value = "Marquês">Marquês</option>
                                    <option value = "Barão">Barão</option>
                                    <option value = "Conde">Conde</option>
                                    <option value = "Visconde">Visconde</option>
                                </select>
                            </div>
                        </div>

                        {# <div class="form-group">
                            <label for="input-frmuser-classroom-group">Turma</label>
                            <div class="input-group" id="input-frmuser-classroom-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text bg-light"><i class="fas fa-university"></i></span>
                                </div>
                                <input id="input-frmuser-classroom" type="text" class="form-control" placeholder="Turma"  aria-label="Turma"></input>
                            </div>
                        </div>  #}
                        
                        <div class="form-group">
                            <label for="input-frmuser-email">Email</label>
                            <div class = "input-group" id = "input-frmuser-email-group">
                                <div class= "input-group-prepend">
                                    <span class="input-group-text bg-light"><i class="fas fa-at"></i></span>
                                </div>
                                <input id="input-frmuser-email" disabled type="text" class="form-control" placeholder="Email" value="{{ attributes.username }}"></input>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="card-footer text-center">
                    <input id="input-hidden-id" type="hidden" value="{{ attributes.id }}">
                    <button id="btn-update-profile" type="submit" class="btn btn-cosmo-color-2"><i class="fas fa-save"></i> Salvar</button>
                    
                </div>
            </div>
        </div>

        <div class = "col-md-3 mt-4">
            <div class="card myCard">
                <div class="card-header">
                    <h5 class="card-title mb-0 text-center">
                        Seus feitos <i class = "fas fa-bolt"></i>
                    </h5>
                </div>
            
                <div class = "btn-group mt-0">
                    <button type="button" class="btn btn-x3" data-toggle="collapse" data-target="#cd-1" ><i class="fas fa-crown"></i></button>
                    <button type="button" class="btn btn-x2" data-toggle="collapse" data-target="#cd-2" ><i class="fas fa-trophy"></i></button>
                </div>


                 <div id = "cd-1" class = "collapse">
                    <div class="card border-cosmo-color-1 mx-sm-1 p-3 mt-4">
                        <div class="card border-cosmo-color-1 shadow text-cosmo-color-1 p-3 card-h"><span class="fas fa-crown" aria-hidden="true"></span></div>
                        <div class="text-cosmo-color-1 text-center mt-3"><h4>Títulos</h4></div>
                        <div class="text-cosmo-color-1 text-center mt-2"><h6>*Supremo Atribuidor*</h6></div>
                        <div class="text-cosmo-color-1 text-center mt-2"><h6>*Repetidor Sagaz*</h6></div>
                        <div class="text-cosmo-color-1 text-center mt-2"><h6>***</h6></div>
                    </div>
                </div>

                <div id = "cd-2" class = "collapse">
                    <div class="card border-cosmo-color-1 mx-sm-1 p-3 mt-4">
                        <div class="card border-cosmo-color-1 shadow text-cosmo-color-1 p-3 card-h"><span class="fas fa-trophy" aria-hidden="true"></span></div>
                        <div class="text-cosmo-color-1 text-center mt-3"><h4>Troféus</h4></div>
                        <div class="text-cosmo-color-1 text-center mt-2"><h6>*IF's Ouro*</h6></div>
                        <div class="text-cosmo-color-1 text-center mt-2"><h6>*While's Bronze*</h6></div>
                        <div class="text-cosmo-color-1 text-center mt-2"><h6>***</h6></div>
                    </div>
                </div>

            </div>
        </div>
        
   
    </div>
{% endblock %}