{% extends "/View/layout.twig" %}
{% set page_title = "Seu Perfil" %}

{% block links %}
    <link href="https://fonts.googleapis.com/css?family=Lilita+One" rel="stylesheet">
{% endblock %}

{% block scripts %}
    <script src="{{ base_url() }}/dist/js/profile.js"></script> 
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ base_url() }}/dist/css/profile-edit/style.min.css">
{% endblock %}

{% block content %}   
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path_for("dashboard.index") }}">Dashboard</a></li>
        <li class="breadcrumb-item"><a href="{{ path_for("dashboard.profile") }}">Perfil</a></li>
        <li class="breadcrumb-item active">Editar Perfil</li>
    </ul>

    <div class="row">
        
        <div class="col-md-4 mt-4">
            <div class = "card p-card">
                <div class = "card-header">
                    <h5 class = "card-title mb-0 text-center">Sua foto e seus dados</h5>
                </div>

                <div class="card-up"></div>

                <div class="avatar mx-auto">
                    <img id="img-frmuser-avatar" src= "{{user.avatar}}" class="rounded-circle" alt=""/>
                </div>

                <div class = "card-body">
                    <div class="d-flex justify-content-center">
                        <h5 = "p-2">{{user.fullname}}</h5>
                    </div>
                    <hr>
                    <div class = "row">
                        <div class = "d-flex justify-content-center">
                            <i class="signature"> </i> <span class = "p-2">Apelido: {{user.nickname}}</span>
                        </div>
                    </div>
                    <div class = "row">
                        <div class = "d-flex justify-content-center">
                            <i class="papyrus"> </i> <span class = "p-2">Título: {{user.fulltitle}}</span>
                        </div>
                    </div>
                    <div class = "row">
                        <div class = "d-flex justify-content-center">
                            <i class="brain"> </i> <span class = "p-2">Conhecimento: {{user.xp}}</span>
                        </div>
                    </div>
                    <div class = "row">
                        <div class = "d-flex justify-content-center">
                            <i class="coins"> </i> <span class = "p-2">Moedas: {{user.moedas}}</span>
                        </div>
                    </div>
                    <div class = "row">
                        <div class = "d-flex justify-content-center">
                            <i class="correct"> </i> <span class = "p-2">Questões feitas: {{user.answered_activities}}</span>
                        </div>
                    </div>
    
                </div>

                <div class = "card-footer p-footer text-center">
                    <div class = "btn-group">
                        <input id="input-frmuser-fileupload" type="file" class="d-none">
                        <button class="btn btn-primary rounded mr-1" id="btn-alter-image">Alterar imagem <i class="fa fa-file-photo-o text-danger"></i></button>
                        
                    </div>
                </div>
            </div> 
        </div>

        <div class="col-md-8 mt-4" id = "user-form">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title mb-0 text-center">
                       Editar dados
                    </h5>
                </div>

                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <label for="input-frmuser-name">Nome</label>
                            <div class="input-group" id="input-frmuser-name-group">
                                <div class="input-group-prepend">
                                        <span class="input-group-text bg-light"><i class="fas fa-user"></i></span>
                                </div>
                                <input id="input-frmuser-name" type="text" class="form-control" placeholder="Nome completo" value="{{ user.fullname }}"></input>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="input-frmuser-nickname-group">Nome de usuário</label>
                            <div class="input-group" id="input-frmuser-nickname-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text bg-light"><i class="fas fa-at"></i></span>
                                </div>
                                <input id="input-frmuser-nickname" type="text" class="form-control" placeholder="Nome de usuário" value="{{ user.nickname }}" aria-label="Nome de Usuário"></input>
                            </div>
                        </div> 

                        <div class="form-group">
                            <label for="input-frmuser-sexo-group">Sexo</label>
                            <div class="input-group " id="input-frmuser-sexo-group">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" id="input-frmuser-sexo-male" name="input-frmuser-sexo" value="Masculino" {% if attributes.sexo == "Masculino" %} checked {% endif %}><label class="form-check-label" for="input-frmuser-sexo-male"> Masculino </label></input>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" id="input-frmuser-sexo-female" name="input-frmuser-sexo" value="Feminino" {% if attributes.sexo == "Feminino" %} checked {% endif %}><label class="form-check-label" for="input-frmuser-sexo-female"> Feminino</label></input>
                                </div>
                            </div>
                        </div> 
                        
                        <div class="form-group">
                            <label for="input-frmuser-fulltitle-group">Título</label>
                            <div class="input-group" id="input-frmuser-fulltitle-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text bg-light"><i class="fas fa-crown"></i></span>
                                </div>
                                <input class="form-control" disabled id = "input-frmuser-fulltitle" placeholder="Título" value="{{ user.fulltitle }}" aria-label="Título"></input>
                            </div>
                        </div>

                        {# <div class="form-group">
                            <label for="input-frmuser-classroom-group">Turma</label>
                            <div class="input-group" id="input-frmuser-classroom-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text bg-light"><i class="fas fa-university"></i></span>
                                </div>
                                <input id="input-frmuser-classroom" type="text" class="form-control" placeholder="Turma"  aria-label="Turma"></input>
                            </div>
                        </div>  #}
                        
                        <div class="form-group">
                            <label for="input-frmuser-email">Email</label>
                            <div class = "input-group" id = "input-frmuser-email-group">
                                <div class= "input-group-prepend">
                                    <span class="input-group-text bg-light"><i class="fas fa-envelope"></i></span>
                                </div>
                                <input id="input-frmuser-email" disabled type="text" class="form-control" placeholder="Email" value="{{ user.username }}"></input>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="input-frmuser-class-group">Turma</label>
                            <div class="input-group" id="input-frmuser-class-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-users"></i></span>
                                </div>
                                <input id="input-frmuser-class" type="text" class="form-control" placeholder="Turma" {% if user.class %} disabled value="{{ user.class.title }}" {% endif %} aria-label="Turma"></input>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="card-footer text-center">
                    <input id="input-hidden-id" type="hidden" value="{{ user.id }}">
                    <button id="btn-update-profile" type="submit" class="btn btn-cosmo-color-2"><i class="fas fa-save"></i> Salvar</button>
                    <div class="float-right">
                            <a href="javascript:history.back()" class="btn btn-danger cosmo-color-1">Voltar</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    
{% endblock %}