{% extends "/View/layout.twig" %}
{% set page_title = "Perfil" %}

{% block scripts %}

    <!-- <script>
        $(function setProgress(valor) {
        /* var current_progress = 0;
            var interval = setInterval(function() {
                current_progress += 10;
                $("#dynamic")
                    .css("width", current_progress + "%")
                    .attr("aria-valuenow", current_progress)
                    .text(current_progress + "/100%");
                if (current_progress >= 100)
                clearInterval(interval);
            }, 1000); */

            var elem = document.getElementById("dynamic");
            var width = 1;
            var id = setInterval(frame, 10);
            function frame() {
            if (width >= 100) {
                clearInterval(id);
            } else {
                width++;
                elem.style.width = width + '%';
        }
    }
        }); 

        $(function () {
            $('[data-toggle="popover"]').popover()
        })

    </script> -->
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ base_url() }}/dist/css/profile-visit/style.min.css">
{% endblock %}

{% block content %}   

    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path_for("dashboard.index") }}">Dashboard</a></li>
        <li class="breadcrumb-item active">Perfil</li>
    </ul>

    <div class = "row">
        <div class = "col-md-4 mt-2">
            <div class="card">
                <div class="card-header d-flex justify-content-center">
                    <span class="p-2">
                        Conquistas de {{student.fullname}}
                    </span>
                </div>

                <div class="card border-cosmo-color-1 mx-sm-1 p-3 mt-4 ">
                    <div class="card border-cosmo-color-1 shadow text-cosmo-color-1 p-3 card-h">
                        <span class="medal" aria-hidden="true"></span>
                    </div>
                    <div class = "card-body card-badge"> 
                        <div class="mt-3 row">
                            <h4><span class = "badge badge-cosmo-color-1 ">Badges: </span></h4>
                        </div>
                        <hr>

                        <div class="row">

                                {% set devorador = 0 %}
                                {% set acumulador = 0 %}
                                {% set gastador = 0 %}
                                {% set aprendiz = 0 %}
                                {% set deprimeira = 0 %}
    
                                {% for achiv in student.getAchievements %}
                                    {% if achiv.getName == "Gastador" %}
                                        {% set gastador = achiv.getLevel %}
                                    {% endif %}
                                    {% if achiv.getName == "Devorador" %}
                                        {% set devorador = achiv.getLevel %}
                                    {% endif %}
                                    {% if achiv.getName == "Acumulador" %}
                                        {% set acumulador = achiv.getLevel %}
                                    {% endif %}
                                    {% if achiv.getName == "Aprendiz" %}
                                        {% set aprendiz = achiv.getLevel %}
                                    {% endif %}
                                    {% if achiv.getName == "De Primeira" %}
                                        {% set deprimeira = achiv.getLevel %}
                                    {% endif %}
                                {% endfor %}
                                <div class = "d-flex justify-content-center">
                                    <h5 = "p-2">Acumulador :</h5>
                                </div>
    
                                <button class = "btn btn-cosmo-color-8 ml-2" type="button" data-toggle="collapse" data-target="#bge-1">
                                    {% set count = 0 %}
    
                                    {% for i in 0.. (acumulador - 1) if acumulador != 0 %}
                                        <i class = "fas fa-medal text-cosmo-color-7"></i>
                                    {% endfor %}
                                    {% for i in 0..( 2 - acumulador ) if 3 - acumulador != 0 %}
                                        <i class = "fas fa-medal"></i>
                                    {% endfor %}
                                </button>
    
                                <div class="collapse mt-3" id="bge-1">
                                    <div class="card text-cosmo-color-3">
                                        <div class = "card-header text-center">Requisitos</div>
                                        <div class = "card-body d-flex flex-column">
                                            <div class = "p-2">
                                                Acumular 100 coins = <i class = "fas fa-medal text-cosmo-color-7"></i>
                                            </div>
    
                                            <div class = "p-2">
                                                Acumular 200 coins = <i class = "fas fa-medal text-cosmo-color-7"></i><i class = "fas fa-medal text-cosmo-color-7"></i>
                                            </div>
    
                                            <div class = "p-2">
                                                Acumular 500 coins = <i class = "fas fa-medal text-cosmo-color-7"></i><i class = "fas fa-medal text-cosmo-color-7"></i><i class = "fas fa-medal text-cosmo-color-7"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                        <hr>

                        <div class="row">
                                <h5>Gastador: </h5>
                                <button class = "btn btn-cosmo-color-8 ml-2" type="button" data-toggle="collapse" data-target="#bge-2">
                                    {% for i in 0.. (gastador - 1) if gastador != 0 %}
                                        <i class = "fas fa-medal text-cosmo-color-7"></i>
                                    {% endfor %}
                                    {% for i in 0..( 2 - gastador ) if 3 - gastador != 0 %}
                                        <i class = "fas fa-medal"></i>
                                    {% endfor %}
                                </button>
                                <div class="collapse mt-3" id="bge-2">
                                    <div class="card text-cosmo-color-3 text-center">
                                        <div class = "card-header text-center">Requisitos</div>
                                        <div class = "card-body d-flex flex-column">
                                            <div class = "p-2">
                                                Gastar 100 coins = <i class = "fas fa-medal text-cosmo-color-7"></i>
                                            </div>
    
                                            <div class = "p-2">
                                                Gastar 200 coins = <i class = "fas fa-medal text-cosmo-color-7"></i> <i class = "fas fa-medal text-cosmo-color-7"></i>
                                            </div>
    
                                            <div class = "p-2">
                                                Gastar 500 coins =  <i class = "fas fa-medal text-cosmo-color-7"></i> <i class = "fas fa-medal text-cosmo-color-7"></i> <i class = "fas fa-medal text-cosmo-color-7"></i>
                                            </div>
    
                                        </div>
                                    </div>
                                </div>
                        </div>
                        <hr>

                        <div class="row">
                                <h5>Devorador: </h5>
                                <button class = "btn btn-cosmo-color-8 ml-2" type="button" data-toggle="collapse" data-target="#bge-3">
                                    {% for i in 0.. (devorador - 1) if devorador != 0 %}
                                        <i class = "fas fa-medal text-cosmo-color-7"></i>
                                    {% endfor %}
                                    {% for i in 0..( 2 - devorador ) if 3 - devorador != 0 %}
                                        <i class = "fas fa-medal"></i>
                                    {% endfor %}
                                </button>
                                <div class="collapse mt-3" id="bge-3">
                                    <div class="card text-cosmo-color-3">
                                        <div class = "card-header text-center">Requisitos</div>
                                        <div class = "card-body d-flex flex-column">
                                           <div class = "p-2">
                                                Fazer 1 questão = <i class = "fas fa-medal text-cosmo-color-7"></i>
                                            </div>
    
                                            <div class = "p-2">
                                                Fazer 5 questões = <i class = "fas fa-medal text-cosmo-color-7"></i> <i class = "fas fa-medal text-cosmo-color-7"></i>
                                            </div>
    
                                            <div class = "p-2">
                                                Fazer 10 questões =  <i class = "fas fa-medal text-cosmo-color-7"></i> <i class = "fas fa-medal text-cosmo-color-7"></i> <i class = "fas fa-medal text-cosmo-color-7"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
                

                <div class="card card-scroll border-cosmo-color-1 mx-sm-1 p-3 mt-4">
                        <div class="card border-cosmo-color-1 shadow text-cosmo-color-1 p-3 card-h">
                            <span class="trophy" aria-hidden="true"></span>
                        </div>

                        <div class = "card-body card-trophy"> 

                            <div class="mt-3 row">
                                <h4><span class = "badge badge-cosmo-color-7">Troféus: </span></h4>
                            </div>
                            <hr>

                            <div class="row">
                                    <h5>Aprendiz :</h5>
                                
                                    <button class = "btn btn-sm btn-cosmo-color-8 ml-2" type="button" data-toggle="collapse" data-target="#bge-4">
                                        
                                        {% if aprendiz %}
                                            <i class = "fas fa-trophy text-cosmo-color-7"></i>
                                        {% else %}
                                            <i class = "fas fa-trophy"></i>
                                        {% endif %}
                                    </button>
                                    <div class="collapse mt-3" id="bge-4">
                                        <div class="card text-cosmo-color-3">
                                            <div class = "card-header text-center">Requisitos</div>
                                            <div class = "card-body">
                                                <div class = "d-flex flex-column">
                                                    <div class = "p-2"> Responder sua primeira questão.</div>
                                                </div>
                                            </div>
                                        </div> 
                                    </div>
                            </div>
                            
                            {# <hr>

                            <div class="row">
                                <h5>Decorador :</h5>
                                <button class = "btn btn-sm btn-cosmo-color-8 ml-2" type="button" data-toggle="collapse" data-target="#bge-5"> 
                                    <i class = "fas fa-trophy text-cosmo-color-7"></i>
                                </button>
                                <div class="collapse mt-3" id="bge-5">
                                    <div class="card text-cosmo-color-3">
                                        <div class = "card-header text-center">Requisitos</div>
                                        <div class = "card-body">
                                            <div class = "d-inline-flex p-2">
                                                Comprar todas a personalizações de perfil.
                                            </div>
                                        </div> 
                                    </div>
                                </div>
                            </div> #}

                            <hr>

                            <div class="row">
                                    <h5>De Primeira :</h5>
                                    <button class = "btn btn-sm btn-cosmo-color-8 ml-2" type="button" data-toggle="collapse" data-target="#bge-6">
                                        {% if deprimeira %}
                                            <i class = "fas fa-trophy text-cosmo-color-7"></i>
                                        {% else %}
                                            <i class = "fas fa-trophy"></i>
                                        {% endif %}
                                    </button>
                                    <div class="collapse mt-3" id="bge-6">
                                        <div class="card text-cosmo-color-3">
                                            <div class = "card-header text-center">Requisitos</div>
                                            <div class = "card-body">
                                                <div class = "d-inline-flex p-2">
                                                    Responder uma questão sem errar, uma única vez.
                                                </div>
                                            </div>
                                        </div> 
                                    </div>
                            </div>
                        </div>
                </div>
            
            </div>
        </div>

        <div class="col-md-4 mt-2">
            <div class = "card p-card">
                <div class="card-header d-flex justify-content-center" style = "word-break: break-all;">
                    <h4 class="p-2">
                        Fotos e dados de {{student.fullname}}
                    </h4>
                </div>

                <div class="card-up"></div>

                <div class="avatar mx-auto">
                    <img id="img-frmuser-avatar" src= "{{student.avatar}}" class="rounded-circle" alt=""/>
                </div>

                <div class = "card-body p-body mt-0">
                    <div class="d-flex justify-content-center">
                        <h5 = "p-2">{{student.fullname}}</h5>
                    </div>
                    <hr>

                    <div class = "card-body">
                        <div class = "row">
                            <div class = "d-flex justify-content-center">
                                <i class="brain" ></i> <span class = "p-2"> Conhecimento: {{student.xp}}</span>
                                <!-- <span id="dynamic" title="Pontos de Conhecimento" class="progress progress-bar progress-bar-striped" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></span> -->                
                            </div>
                        </div>
                        <div class = "row">
                            <div class = "d-flex justify-content-center">
                                <i class="coins"> </i> <span class = "p-2">Moedas: {{student.moedas}}</span>
                            </div>
                        </div>
                        <div class = "row">
                            <div class = "d-flex justify-content-center">
                                <i class="papyrus"></i> <span class = "p-2">
                                {% if student.answered_activities >= 3 %}
                                    Título: {{student.fulltitle}}</span>
                                {% elseif student.answered_activities < 3 %}
                                    Título: Sem título</span>
                                {% endif %}
                            </div>
                        </div>
                        <div class = "row">
                            <div class = "d-flex justify-content-center">
                                <i class = "skull"></i> <span class = "p-2">
                            </div>
                        </div>
                    </div>
                    
                </div>

                <div class = "card-footer p-footer text-center">
                    <a class = "btn btn-danger" href = "{{ path_for("dashboard.index") }}"> Voltar </a>
                </div>
            </div> 
        </div>

         <div class = "col-md-4 mt-2">
            <div class = "card">
                <div class="card-header">
                    <h5 class=" text-center">
                        Habilidades de {{student.fullname}}
                    </span>
                </div>
                <div class = "card-body d-flex flex-column">
                    {% for skill in groups %}
                            <div class="text-center">
                                    <h5 class="">{{ skill.title }}: </h5>
                                    <div center="">
                                        <button class = "btn btn-dark ml-1" >
                                                {% set count = 0 %}
                                                {% for star in stars if star.completed and star.getGroupActivities.id == skill.id %}
                                                    <i class="fa fa-star fa-1x text-cosmo-color-7" style="float:right;"></i>
                                                    {% set count = count + 1 %}
                                                {% endfor %}
                                                {% for i in 1..( 3 - count) if count < 3 %}                                                
                                                    <i class="fa fa-star fa-1x " style="float:right;"></i>
                                                {% endfor %}
                                        </button>
                                    </div>
                                    <hr>
                            </div>

                    {% endfor %}
                </div>
            </div>
        </div>

    </div>
{% endblock %}