{% extends "/View/layout.twig" %}
{% set page_title = "Seu Perfil" %}

{% block links %}
    <link href="https://fonts.googleapis.com/css?family=Lilita+One" rel="stylesheet">
{% endblock %}

{% block scripts %}
    <script src="{{ base_url() }}/dist/js/profile.js"></script> 
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ base_url() }}/dist/css/profile-edit/style.min.css">
{% endblock %}

{% block content %}   
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path_for("dashboard.index") }}">Dashboard</a></li>
        <li class="breadcrumb-item"><a href="{{ path_for("dashboard.profile") }}">Perfil</a></li>
        <li class="breadcrumb-item active">Editar Perfil</li>
    </ul>

    <div class="row">
        
        <div class="col-md-4 mt-4">
            <div class = "card p-card">
                <div class = "card-header">
                    <h5 class = "card-title mb-0 text-center">Sua foto e seus dados</h5>
                </div>

                <div class="card-up"></div>

                <div class="avatar mx-auto">
                    <img id="img-frmuser-avatar" src= "{{attributes.avatar}}" class="rounded-circle" alt=""/>
                </div>

                <div class = "card-body">
                    <div class="d-flex justify-content-center">
                        <h5 = "p-2">{{attributes.fullname}}</h5>
                    </div>
                    <hr>
                    <div class = "row">
                        <div class = "d-flex justify-content-center">
                            <i class="signature"></i> <span class = "p-2">Apelido: {{attributes.nickname}}</span>
                        </div>
                    </div>
                    <div class = "row">
                        <div class = "d-flex justify-content-center">
                            <i class="papyrus"></i> <span class = "p-2">Título: {{attributes.fulltitle}}</span>
                        </div>
                    </div>
                    <div class = "row">
                        <div class = "d-flex justify-content-center">
                            <i class="brain"></i> <span class = "p-2">Conhecimento: {{attributes.xp}}</span>
                        </div>
                    </div>
                    <div class = "row">
                        <div class = "d-flex justify-content-center">
                            <i class="coins"> </i> <span class = "p-2">Moedas: {{attributes.moedas}}</span>
                        </div>
                    </div>
                    <div class = "row">
                        <div class = "d-flex justify-content-center">
                            <i class="correct"> </i> <span class = "p-2">Questões feitas: {{attributes.answered_activities}}</span>
                        </div>
                    </div>
    
                </div>

                <div class = "card-footer p-footer text-center">
                    <div class = "btn-group">
                        <input id="input-frmuser-fileupload" type="file" class="d-none">
                        <button class="btn btn-primary rounded mr-1" id="btn-alter-image">Alterar imagem <i class="fa fa-file-photo-o text-danger"></i></button>
                        
                    </div>
                </div>
            </div> 
        </div>

        <div class="col-md-8 mt-4" id = "user-form">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title mb-0 text-center">
                       Editar dados
                    </h5>
                </div>

                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <label for="input-frmuser-name">Nome</label>
                            <div class="input-group" id="input-frmuser-name-group">
                                <div class="input-group-prepend">
                                        <span class="input-group-text bg-light"><i class="fas fa-user"></i></span>
                                </div>
                                <input id="input-frmuser-name" type="text" class="form-control" placeholder="Nome completo" value="{{ attributes.fullname }}"></input>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="input-frmuser-nickname-group">Nome de usuário</label>
                            <div class="input-group" id="input-frmuser-nickname-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text bg-light"><i class="fas fa-at"></i></span>
                                </div>
                                <input id="input-frmuser-nickname" type="text" class="form-control" placeholder="Nome de usuário" value="{{ attributes.nickname }}" aria-label="Nome de Usuário"></input>
                            </div>
                        </div> 
                        
                        <div class="form-group">
                            <label for="input-frmuser-fulltitle-group">Título</label>
                            <div class="input-group" id="input-frmuser-fulltitle-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text bg-light"><i class="fas fa-crown"></i></span>
                                </div>
                                <select class="form-control" id = "input-frmuser-fulltitle">
                                    {% if not attributes.fulltitle is defined %}<option>Escolha um Título de nobreza</option>{% endif %}
                                    <option {% if attributes.fulltitle is defined and attributes.fulltitle == "Escudeiro" %}selected{% endif %} value="Escudeiro">Escudeiro</option>
                                    <option {% if attributes.fulltitle is defined and attributes.fulltitle == "Barão" %}selected{% endif %} value="Barão">Barão</option>
                                    {# <option {% if attributes.fulltitle is defined and attributes.fulltitle == "Visconde/Viscondessa" %}selected{% endif %} value="Visconde/Viscondessa">Visconde/Viscondessa</option>
                                    <option {% if attributes.fulltitle is defined and attributes.fulltitle == "Conde/Condessa" %}selected{% endif %} value="Conde/Condessa">Conde/Condessa</option>
                                    <option {% if attributes.fulltitle is defined and attributes.fulltitle == "Marquês/Marquessa" %}selected{% endif %} value="Marquês/Marquessa">Marquês/Marquessa</option>
                                    <option {% if attributes.fulltitle is defined and attributes.fulltitle == "Duque/Duquesa" %}selected{% endif %} value="Duque/Duquesa">Duque/Duquesa</option>
                                    <option {% if attributes.fulltitle is defined and attributes.fulltitle == "Grão-duque/Grã-duquesa" %}selected{% endif %} value="Grão-duque/Grã-duquesa">Grão-duque/Grã-duquesa</option>
                                    <option {% if attributes.fulltitle is defined and attributes.fulltitle == "Imperador/Imperadora" %}selected{% endif %} value="Imperador/Imperadora">Imperador/Imperadora</option>
                                    <option {% if attributes.fulltitle is defined and attributes.fulltitle == "Herdeiro de Turing" %}selected{% endif %} value="Herdeiro de Turing">Herdeiro de Turing</option> #}
                                </select>
                            </div>
                        </div>

                        {# <div class="form-group">
                            <label for="input-frmuser-classroom-group">Turma</label>
                            <div class="input-group" id="input-frmuser-classroom-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text bg-light"><i class="fas fa-university"></i></span>
                                </div>
                                <input id="input-frmuser-classroom" type="text" class="form-control" placeholder="Turma"  aria-label="Turma"></input>
                            </div>
                        </div>  #}
                        
                        <div class="form-group">
                            <label for="input-frmuser-email">Email</label>
                            <div class = "input-group" id = "input-frmuser-email-group">
                                <div class= "input-group-prepend">
                                    <span class="input-group-text bg-light"><i class="fas fa-envelope"></i></span>
                                </div>
                                <input id="input-frmuser-email" disabled type="text" class="form-control" placeholder="Email" value="{{ attributes.username }}"></input>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="input-frmuser-class-group">Turma</label>
                            <div class="input-group" id="input-frmuser-class-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-users"></i></span>
                                </div>
                                <input id="input-frmuser-class" type="text" class="form-control" placeholder="Turma" {% if attributes.class %} disabled value="{{ attributes.class.title }}" {% endif %} aria-label="Turma"></input>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="card-footer text-center">
                    <input id="input-hidden-id" type="hidden" value="{{ attributes.id }}">
                    <button id="btn-update-profile" type="submit" class="btn btn-cosmo-color-2"><i class="fas fa-save"></i> Salvar</button>
                </div>
            </div>
        </div>

    </div>
{% endblock %}