{% extends "View/layout.twig" %}
{% set page_title = "Resolva o problema" %}

{% block scripts %}
    <script type="text/javascript" src="{{ base_url() }}/dist/js/problems.js"></script>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ base_url() }}/dist/css/problems/style.min.css">
{% endblock %}

{% block content %}
    <div class="row my-4">
        <div class="col-12">
            <div class="row d-flex">
                <div class="col-lg-6 ml-auto">
                    <form>
                        <div class="form-group">
                            <select id="language-selector" class="form-control">
                                <option value="lua" selected>Lua</option>
                                <option value="cpp">C/C++</option>
                                {# <option value="python">Python</option> #}
                            </select>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title mb-0">{{ activity.getTitle }}</h5>
                </div>

                <div class="card-body">
                    <h5 class="text-muted">{{ activity.getFullQuestion }}</h5>

                    <p class="mb-0"><strong>Descrição da entrada:</strong></p>
                    <p>{{ activity.getInputDescription }}</p>
                    <p class="mb-0"><strong>Descrição da saída:</strong></p>
                    <p>{{ activity.getOutputDescription }}</p>

                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="text-center">Entrada</th>
                                <th class="text-center">Saída</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for example in activity.getActivityExample %}
                                <tr>
                                    <td>{{ example.in }}</td>
                                    <td>{{ example.out }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div id="editor"></div>
        </div>

        <div class="col-12 mt-2">            
            <input id="id-activity" type="hidden" value="{{ activity.getId }}" />

            {% if type is defined %}
                <input type="hidden" value="{{ type }}" id="input-frmactivity-type">
                <input type="hidden" value="{{ challenge_id }}" id="input-frmactivity-challenge-id">
                <input type="hidden" value="{{ level }}" id="input-frmactivity-level">

                <button id="submit-challenge" class="float-right btn btn-cosmo-color-1">Enviar</button>
            {% else %}
                <button id="submit-activity" class="float-right btn btn-cosmo-color-1">Enviar</button>
            {% endif %}
        </div>
    </div>
{% endblock %}