{% extends "View/layout.twig" %}

{% if challenge is defined %}
    {% set page_title = "PVP" %}
{% else %}
    {% set page_title = "Resolva o problema" %}
{% endif %}

{% block scripts %}
    <script type="text/javascript" src="{{ base_url() }}/dist/js/problems.js"></script>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ base_url() }}/dist/css/problems/style.min.css">
{% endblock %}

{% block content %}
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path_for("dashboard.index") }}">Dashboard</a></li>
        <li class="breadcrumb-item active">{{ activity.getTitle }}</li>
    </ul>
    <div class="row my-4">
        {% if challenge %}
        <div class="col-12 mb-2">
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title mb-0">Desafiante</h5>
                        </div>

                        <div class="card-body">
                            <div class="row">
                                <div class="col-2">
                                    <img class="img-fluid" src="{{ challenge.getChallenger.getAvatar }}" alt = "challenger-img {{user.getFullname}}"></img>
                                </div>

                                <div class="col-10">
                                    <span class="display-5">{{ challenge.getChallenger.getFullname }}</span>
                                    <span class="text-muted mb-0"> - @{{ challenge.getChallenger.getNickname }}</span>
                                    <p class="display-5 mb-0">Tempo: {{ challenger_time ? challenger_time|number_format(3, '.', ',') ~ " segundos" : "Não respondido ainda" }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title mb-0">Desafiado</h5>
                        </div>

                        <div class="card-body">
                            <div class="row">
                                <div class="col-2">
                                    <img class="img-fluid" src="{{ challenge.getChallenged.getAvatar }}" alt = "challenged img {{user.getFullname}}"></img>
                                </div>

                                <div class="col-10">
                                    <span class="display-5">{{ challenge.getChallenged.getFullname }}</span>
                                    <span class="text-muted mb-0"> - @{{ challenge.getChallenged.getNickname }}</span>
                                    <p class="display-5 mb-0">Tempo: {{ challenged_time ? challenged_time|number_format(3, '.', ',') ~ " segundos" : "Não respondido ainda" }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

        <div class="col-12">
            <div class="row d-flex">
                <div class="col-lg-6 ml-auto">
                    <form>
                        <div class="form-group">
                            <select id="language-selector" class="form-control">
                                <option value="lua" selected>Lua (Lua5.2.4 - Ubuntu 18.04.2 LTS)</option>
                                <option value="cpp">C/C++ (G++ 7.3.0 x86_64-linux-gnu - Ubuntu 18.04.2 LTS)</option>
                            </select>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title mb-0">{{ activity.getTitle }}</h5>
                </div>

                <div class="card-body">
                    <h5 class="text-muted">{{ activity.getFullQuestion }}</h5>

                    <p class="mb-0"><strong>Descrição da entrada:</strong></p>
                    <p>{{ activity.getInputDescription }}</p>
                    <p class="mb-0"><strong>Descrição da saída:</strong></p>
                    <p>{{ activity.getOutputDescription }}</p>

                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="text-center">Entrada</th>
                                <th class="text-center">Saída</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for example in activity.getActivityExample %}
                                <tr>
                                    <td>{{ example.in }}</td>
                                    <td>{{ example.out }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div id="editor"></div>
        </div>

        <div class="col-12 mt-2">            
            <input id="id-activity" type="hidden" value="{{ activity.getId }}" />
            <input id="id-group" type="hidden" value="{{ idGroup }}" />
            {% if challenge is defined %}
                <input id="id-challenge" type="hidden" value="{{ challenge.getId }}" />
            {% endif %}

            {% if type is defined %}
                <input type="hidden" value="{{ type }}" id="input-frmactivity-type">
                <input type="hidden" value="{{ challenge_id }}" id="input-frmactivity-challenge-id">
                <input type="hidden" value="{{ level }}" id="input-frmactivity-level">

                <button id="submit-challenge" class="float-right btn btn-cosmo-color-2">Enviar</button>
            {% else %}
                <button id="submit-activity" class="float-right btn btn-cosmo-color-2">Enviar</button>
            {% endif %}
        </div>
    </div>
{% endblock %}