{% extends "View/layout.twig" %}

{% if formCreate is defined %}
    {% set page_title = "Nova Atividade" %}
{% endif %}

{% if formUpdate is defined %}
    {% set page_title = "Editando: " ~ activity.title %}
{% endif %}

{% block scripts %}
    <script type="text/javascript" src="{{ base_url() }}/dist/js/administrator_activities.js"></script>
{% endblock %}

{% block content %}
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path_for("administrator.control.index") }}">Administração</a></li>
        <li class="breadcrumb-item"><a href="{{ path_for("administrator.control.activities") }}">Atividades</a></li>
        <li class="breadcrumb-item active">Nova Atividade</li>
    </ul>
    <div class="row my-4">
        <div class="col-md-3">
            <div class="nav flex-columns nav-pills" role="tablist" aria-orientation="vertical">
                <a id="informacoes-pane-tab" class="nav-link active w-100" data-toggle="pill" href="#informacoes-pane" role="tab" aria-controls="informacoes-pane" aria-selected="true">Informações</a>
                <a id="casos-testes-pane-tab" class="nav-link w-100" data-toggle="pill" href="#casos-testes-pane" role="tab" aria-controls="casos-testes-pane" aria-selected="false">Casos de Testes</a>
            </div>
        </div>

        <div class="col-md-9">
            <div class="tab-content">
                <div id="informacoes-pane" class="tab-pane fade show active" role="tabpane" aria-labelledby="informacoes-pane-tab">
                    <form>
                        <div class="form-group">
                            <label for="input-frmactivity-title">Título</label>
                            <input id="input-frmactivity-title" class="form-control" type="text" placeholder="Título da questão" {% if formUpdate is defined %} value="{{ activity.title }}" {% endif %}>
                        </div>
                        
                        <div class="form-group">
                            <label for="input-frmactivity-question">Descrição</label>
                            <input id="input-frmactivity-question" class="form-control" type="text" placeholder="Descrição curta" {% if formUpdate is defined %} value="{{ activity.question }}" {% endif %}>
                        </div>
                        
                        <div class="form-group">
                            <label for="input-frmactivity-fullquestion">Descrição completa</label>
                            <input id="input-frmactivity-fullquestion" class="form-control" type="text" placeholder="Descrição completa" {% if formUpdate is defined %} value="{{ activity.fullquestion }}" {% endif %}>
                        </div>
                        
                        <div class="form-group">
                            <label for="input-frmactivity-fullquestion">Habilidade</label>
                            <select id="input-frmactivity-group" class="form-control">
                                {% for group in group_activities %}
                                    {% if formUpdate is defined and group.getName == activity.group.getName    %}
                                        <option selected>{{ group.getName }}</option>
                                    {% else %}
                                        <option>{{ group.getName }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </form>
                </div>

                <div id="casos-testes-pane" class="tab-pane fade" role="tabpane" aria-labelledby="casos-testes-pane-tab">
                    <form>
                        <div class="form-group">
                            <label for="input-frmactivity-description-input">Descrição da entrada</label>
                            <input id="input-frmactivity-description-input" class="form-control" type="text" placeholder="Descrição da entrada" {% if formUpdate is defined %} value="{{ activity.input_description }}" {% endif %}>
                        </div>
                        
                        <div class="form-group">
                            <label for="input-frmactivity-example-input">Exemplo de entrada</label>
                            <textarea id="input-frmactivity-example-input" class="form-control" rows="3">{% if formUpdate is defined %}{{ activity.activity_example[0].in }}{% endif %}</textarea>
                        </div>
                        
                        <div class="form-group">
                            <label for="input-frmactivity-description-output">Descrição da saída</label>
                            <input id="input-frmactivity-description-output" class="form-control" type="text" placeholder="Descrição da saída" {% if formUpdate is defined %} value="{{ activity.output_description }}" {% endif %}>
                        </div>
                        
                        <div class="form-group">
                            <label for="input-frmactivity-example-output">Exemplo de saída</label>
                            <textarea id="input-frmactivity-example-output" class="form-control" rows="3">{% if formUpdate is defined %}{{ activity.activity_example[0].out }}{% endif %}</textarea>
                        </div>

                        <p class="text-muted">Casos de testes</p>
                        
                        <div class="form-group">
                            <label for="input-frmactivity-input">Entrada</label>
                            <textarea id="input-frmactivity-input" class="form-control" rows="3">{% if formUpdate is defined %}{{ activity.activities.in }}{% endif %}</textarea>
                        </div>
                        
                        <div class="form-group">
                            <label for="input-frmactivity-output">Saída</label>
                            <textarea id="input-frmactivity-output" class="form-control" rows="3">{% if formUpdate is defined %}{{ activity.activities.out }}{% endif %}</textarea>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-12 mt-2">
            {% if formCreate is defined %}
                <button id="btn-create-activity" class="float-right btn btn-cosmo-color-1">Criar</button>
            {% endif %}

            {% if formUpdate is defined %}
                <input type="hidden" value="{{ activity.id }}" id="input-frmactivity-id">
                <button id="btn-update-activity" class="float-right btn btn-cosmo-color-1">Enviar</button>
            {% endif %}
        </div>
    </div>
{% endblock %}