{% extends "View/layout.twig" %}

{% if formCreate is defined %}
    {% set page_title = "Criar Atividade" %}
{% endif %}

{% if formUpdate is defined %}
    {% set page_title = "Editando: " ~ activity.title %}
{% endif %}

{% block scripts %}
    <script type="text/javascript" src="{{ base_url() }}/dist/js/administrator_activities.js"></script>
{% endblock %}

{% block content %}
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path_for("administrator.control.index") }}">Administração</a></li>
        <li class="breadcrumb-item"><a href="{{ path_for("administrator.control.activities") }}">Atividades</a></li>
        <li class="breadcrumb-item active"> Editar Atividade </li>
    </ul>
    <div class="row my-4">
        <div class="col-md-3">
            <div class="nav flex-columns nav-pills" role="tablist" aria-orientation="vertical">
                <a id="informacoes-pane-tab" class="nav-link active w-100" data-toggle="pill" href="#informacoes-pane" role="tab" aria-controls="informacoes-pane" aria-selected="true">Informações</a>
                <a id="casos-testes-pane-tab" class="nav-link w-100" data-toggle="pill" href="#casos-testes-pane" role="tab" aria-controls="casos-testes-pane" aria-selected="false">Casos de Testes</a>
            </div>
        </div>

        <div class="col-md-9">
            <div class="tab-content">
                <div id="informacoes-pane" class="tab-pane fade show active" role="tabpane" aria-labelledby="informacoes-pane-tab">
                    <form>
                        <div class="form-group">
                            <label for="input-frmactivity-title">Título</label>
                            <input id="input-frmactivity-title" class="form-control" type="text" placeholder="Título da questão" {% if formUpdate is defined %} value="{{ activity.title }}" {% endif %}></input>
                        </div>
                        
                        <div class="form-group">
                            <label for="input-frmactivity-question">Descrição</label>
                            <input id="input-frmactivity-question" class="form-control" type="text" placeholder="Descrição curta" {% if formUpdate is defined %} value="{{ activity.question }}" {% endif %}></input>
                        </div>
                        
                        <div class="form-group">
                            <label for="input-frmactivity-fullquestion">Descrição completa</label>
                            <input id="input-frmactivity-fullquestion" class="form-control" type="text" placeholder="Descrição completa" {% if formUpdate is defined %} value="{{ activity.fullquestion }}" {% endif %}></input>
                        </div>
                        
                        
                        <div class="form-group">
                            <label for="input-frmactivity-group">Habilidade</label>
{#                             <input id="input-frmactivity-group" class="form-control" type="text" placeholder="Habilidade" {% if formUpdate is defined %} value="{{ activity.group.getName }}" {% endif %}></input>
 #}
                            <select id="input-frmactivity-group" class="form-control">
                                {% if formUpdate is defined %}
                                    <option selected>{{ activity.group.getName }}</option>
                                {% endif %}
                                {% for group in group_activities %}
                                        {% if  group.getName != activity.group.getName %}
                                            <option>{{ group.getName }}</option>
                                        {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        
                        <div class="form-group">
                            <label for="input-frmactivity-moedas" >Valor em Moedas</label>
                            <input id="input-frmactivity-moedas" title="Valor da recompensa ao resolver a atividade" class="form-control" type="text" placeholder="Valor em Moedas" {% if formUpdate is defined %} value="{{ activity.moedas }}" {% endif %}></input>
                        </div>

                        <div class="form-group">
                            <label for="input-frmactivity-cust" >Custo em Moedas</label>
                            <input id="input-frmactivity-cust" title="Valor que deve ser cobrado para resolver a atividade" class="form-control" type="text" placeholder="Valor em Moedas" {% if formUpdate is defined %} value="{{ activity.cust }}" {% endif %}></input>
                        </div>
    
                        <div class="form-group">
                            <label for="input-frmactivity-xp">Pontos de Conhecimento</label>
                            <input id="input-frmactivity-xp" class="form-control" type="text" placeholder="Pontos de Conhecimento" {% if formUpdate is defined %} value="{{ activity.xp }}" {% endif %}></input>
                        </div>

                        <div class="form-group">
                            <label for="input-frmactivity-category">Categoria</label>
                            <select id="input-frmactivity-category" class="form-control">
                                {% if formUpdate is defined %}
                                    <option selected>{{ activity.category }}</option>
                                    {% for category in categories %}
                                        {% if activity.category != category %}
                                            <option>{{category}}</option>
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    {% for category in categories %}
                                        <option>{{category}}</option>
                                    {% endfor %}
                                {% endif %}
                               
                            </select>
                        </div>
                    </form>
                </div>

                <div id="casos-testes-pane" class="tab-pane fade" role="tabpane" aria-labelledby="casos-testes-pane-tab">
                    <form>
                        <div class="form-group">
                            <label for="input-frmactivity-description-input">Descrição da entrada</label>
                            <input id="input-frmactivity-description-input" class="form-control" type="text" placeholder="Descrição da entrada" {% if formUpdate is defined %} value="{{ activity.input_description }}" {% endif %}></input>
                        </div>
                        
                        <div class="form-group">
                            <label for="input-frmactivity-example-input">Exemplo de entrada</label>
                            <textarea id="input-frmactivity-example-input" class="form-control" rows="3">{% if formUpdate is defined %}{{ activity.activity_example[0].in }}{% endif %}</textarea></input>
                        </div>
                        
                        <div class="form-group">
                            <label for="input-frmactivity-description-output">Descrição da saída</label>
                            <input id="input-frmactivity-description-output" class="form-control" type="text" placeholder="Descrição da saída" {% if formUpdate is defined %} value="{{ activity.output_description }}" {% endif %}></input>
                        </div>
                        
                        <div class="form-group">
                            <label for="input-frmactivity-example-output">Exemplo de saída</label>
                            <textarea id="input-frmactivity-example-output" class="form-control" rows="3">{% if formUpdate is defined %}{{ activity.activity_example[0].out }}{% endif %}</textarea>
                        </div>

                        <p class="text-muted">Lembre-se de colocar uma quebra de linha (simplesmente pressionando a tecla ENTER) nas saídas.</p>
                        <div id="casos-container">
                            {% if formUpdate is defined %}
                                {% for caso in activity.tasks %}
                                    <div class="caso-de-teste">
                                        <p class="caso-de-teste-count text-muted">Caso de teste {{ loop.index }}</p>
                                        <div class="form-group">
                                            <label for="input-frmactivity-input-{{ loop.index }}">Entrada</label>
                                            <textarea id="input-frmactivity-input-{{ loop.index }}" class="form-control" rows="3">{{ caso.in }}</textarea>
                                        </div>
                                        
                                        <div class="form-group">
                                            <label for="input-frmactivity-output-{{ loop.index }}">Saída</label>
                                            <textarea id="input-frmactivity-output-{{ loop.index }}" class="form-control" rows="3">{{ caso.out }}</textarea>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <button id="adicionar-caso-de-teste" type="button" class="btn btn-cosmo-color-1">Adicionar um teste</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-12 mt-2">
            {% if formCreate is defined %}
                <button id="btn-create-activity" class="float-right btn btn-cosmo-color-2">Criar</button>
            {% endif %}

            {% if formUpdate is defined %}
                <input type="hidden" value="{{ activity.id }}" id="input-frmactivity-id">
                <button id="btn-update-activity" class="float-right btn btn-cosmo-color-2">Enviar</button>
            {% endif %}
        </div>
    </div>
{% endblock %}