{% set appname = "Cosmo" %}
{% set version = "0.2.1" %}

<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="{{ base_url() }}/dist/css/main.min.css">

        {% block styles %}{% endblock %}

        <title>{{ page_title }} - {{ appname }}</title>
    </head>
    
    <body id = "content">

        <div class="d-flex" id="content-wrapper">
            <!-- Sidebar -->
            <div class="bg-light border-right text-center" id="sidebar">
                <div class="sidebar-heading"><span class="badge badge-pill p-2 badge-primary"><b>{{ appname }}Telemídia</b></div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><h5><i class = "fas fa-user text-success mb-1"></i> <span class = "badge badge-success">Meu perfil</span></h5>
                        <div class = "card side-card">
                            {# {% if user.getAnsweredActivities >= 10 %} #}
                            <div class = "card-up bg-cosmo-color-3"></div>
                            {# {% else %}
                                <div class = "card-up bg-light"></div> #}
                            {# {% endif %} #}
                            <div class = "avatar"> 
                                <img class="img-fluid mb-1 " src="{{ attributes.avatar }}" style = "width: 64px; height:64px;"/>
                            </div>
                            <div class = "card-body card-info">
                                <a href="{{ path_for("dashboard.profile.visit", {id: user.id}) }}" style = "text-decoration: none;"><i class="fas fa-user"></i> <span> {{attributes.fullname}}</span></a>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item"><h5><i class = "fas fa-users text-primary mb-1"></i> <span class = "badge badge-primary">Minha Turma</span></h5>
                        {% for user in class.getStudents %}
                            {% if user != attributes %}
                                <div class = "card side-card">
                                    <div class = "card-up bg-cosmo-color-1"></div>
                                    <div class = "avatar"> 
                                        <img class="img-fluid mb-1 " src="{{ user.getAvatar }}" style = "width: 64px; height:64px;"/>
                                    </div>
                                    <div class = "card-body card-info text-center">
                                        <a href="{{ path_for("dashboard.profile.visit", {id: user.id}) }}" style = "text-decoration: none;"><i class="fas fa-user"></i> <span> {{user.getFullname}}</span></a>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </li> 
                </ul>
                <div class="card-footer text-center">
                    <a href = "{{path_for("dashboard.profile.edit")}}" class = "mr-1 btn btn-sm btn-cosmo-color-1 text-white">
                        <i class="fa fa-cog"></i>
                    </a>
                    <a href = "{{path_for('login.logout')}}" class = "btn btn-sm btn-cosmo-color-5 text-white">
                        <i class="fa fa-power-off"></i>
                    </a>
                </div>
            </div>
            <!-- /#sidebar-->

            <!-- Page Content -->
            <div id="page-content-wrapper">
                <nav class="navbar navbar-expand-lg navbar-dark bg-cosmo-color-2">
                    <a id="menu-toggle" class="btn btn-sm btn-light mr-3">
                        <i class="fas fa-users"></i>
                    </a>
                    <a href="{{ path_for("dashboard.index") }}" class="navbar-brand"><b>{{ appname }}</b>Telemídia</a>

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-content-collapse" aria-controls="navbar-content-collapse" aria-expanded="false" aria-toggle="Alternar navegação">
                        <i class="navbar-toggler-icon"></i>
                    </button>

                    <div id="navbar-content-collapse" class="collapse navbar-collapse">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a href="{{ path_for("dashboard.index") }}" class="nav-link text-white">
                                    <i class="fas fa-tachometer-alt"></i> Dashboard
                                </a>
                            </li>     
                        </ul>

                        <ul class="navbar-nav ml-auto">
                            {% if attributes.administrator %}
                                <li class="nav-item">
                                    <a href="{{ path_for("administrator.control.index") }}" class="nav-link">
                                        <i class="fas fa-wrench"></i> Administração
                                    </a>
                                </li>
                            {% endif %}
                            <li class="nav-item dropdown">
                                <a id="user-dropdown" href="#" class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <img class="rounded-circle" src="{{ attributes.avatar }}" style = "width: 32px;height: 32px;" > {{ attributes.nickname }}
                                </a>

                                <div class= "dropdown-menu dropdown-menu-right mt-2" aria-labelledby="user-dropdown">
                                    <a class = "dropdown-item" href = "{{path_for("dashboard.profile.edit")}}"><i class = "fas fa-user"></i> Editar Perfil</a>
                                    <a class = "dropdown-item" href = "{{path_for("dashboard.profile")}}"><i class = "fas fa-user"></i> Ver Perfil</a>
                                    <a id = "exit" class = "dropdown-item" href = "{{path_for('login.logout')}}"><i class="fas fa-power-off"></i> Sair</a>
                                </div>
                            </li>
                        </ul>   
                    </div>
                 </nav>
                 <div class="container my-2 wrapper">

                    <span class="display-4">{{ page_title }}</span>

                    {% block breakcrumb %}{% endblock %}

                    {% block content %}{% endblock %}
                </div>

            
                <script type="text/javascript">
                    window.base_url = "{{ base_url() }}";
                </script>
                <script type="text/javascript" src="{{ base_url() }}/dist/js/main.js"></script>
                <script type="text/javascript" src="{{ base_url() }}/dist/js/script.min.js"></script>
                <script>
                    $("#menu-toggle").click(function(e) {
                        e.preventDefault();
                        $("#content-wrapper").toggleClass("toggled");
                    });
                </script> 

            </div>
            <!-- /#page-content-wrapper -->
        
        </div>

        <!-- /#wrapper -->
        <footer class="footer bg-cosmo-color-2 py-2">
            <div class="container">
                <div class="row">
                    <div class="col-6 text-left">
                        <p class="mb-0 text-white">Copyright &copy; 2019 | <a href="https://github.com/TeleMidia-MA/" class="text-white" target="__blank" alt="Telemídia - MA">Telemídia - MA</a></p>
                    </div>

                    <div class="col-6 text-right">
                        <p class="mb-0 text-white">Versão: {{ version }}</p>
                    </div>
                </div>
            </div>
        </footer>

        <div id="loader-modal" class="loader d-none">
            <div class="row d-flex align-items-center">
                <div class="loader-spinner col-12 text-center">
                    <div class="spinner-border text-light" role="status">
                        <span class="sr-only">Carregando...</span>
                    </div>
                </div>
            </div>
        </div
        >
    </body>
</html>