{% set appname = "Cosmo" %}
{% set version = "0.2.1" %}

<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="{{ base_url() }}/dist/css/main.min.css">
        <link rel="shortcut icon" href="{{ base_url() }}/favicon.png" />

        {% block styles %}{% endblock %}
        <script type="text/javascript" src="{{ base_url() }}/dist/js/main.js"></script>
        <script type="text/javascript" src="{{ base_url() }}/dist/js/script.min.js"></script>
        <title>{{ page_title }} - {{ appname }}</title>
    </head>
    
    <body>

        <div class="bg-light border-right text-center" id="sidebar">
            <div class = "card-header">
                <button class="closeBtn btn btn-sm btn-dark rounded-circle" onclick = "closeNav()">
                    <i class="text-light fas fa-users"></i>
                </button>
                <span class="badge badge-pill p-2 badge-primary"><b>{{ appname }}Telemídia</b></span></br>
            </div>
                
            <ul class="list-group">
                {% if class.getStudents %}
                    <li class="list-group-item class-card"><h5><i class = "fas fa-users text-primary mb-1"></i> <span>Minha Turma</span></h5>
                        {% for student in class.getStudents if student.id != user.id %}
                            <div class = "card side-card">
                                <div class = "card-up bg-cosmo-color-1"></div>
                                <div class = "avatar"> 
                                    <img class="img-fluid mb-1 " src="{{ student.getAvatar }}" style = "width: 64px; height:64px;" alt="img top-3{{user.Fullname}}"/>
                                </div>
                                <div class = "card-body card-info text-center">
                                    <a href="{{ path_for("dashboard.profile.visit", {id: student.id}) }}" style = "text-decoration: none;"><i class="fas fa-user"></i> <span> {{student.getFullname}}</span></a>
                                </div>
                            </div>
                        {% endfor %}
                    </li>
                {% endif %} 
            </ul>
        </div>

        <nav class="navbar navbar-expand-lg navbar-dark bg-cosmo-color-2">
            {% if not user.administrator %}
                <button id="menu-toggle" class="animated infinite pulse btn btn-sm btn-light rounded-circle mr-3" onclick = "openNav()">
                    <i class="fas fa-users"></i>
                </button>
            {% endif %}
            <a href="{{ path_for("dashboard.index") }}" class="navbar-brand"><b>{{ appname }}</b>Telemídia</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-content-collapse" aria-controls="navbar-content-collapse" aria-expanded="false" aria-toggle="Alternar navegação">
                <i class="navbar-toggler-icon"></i>
            </button>

            <div id="navbar-content-collapse" class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a href="{{ path_for("dashboard.index") }}" class="nav-link text-white">
                            <i class="fas fa-tachometer-alt"></i> Dashboard
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path_for("dashboard.ranking") }}" class="nav-link text-white">
                            <i class="fas fa-tachometer-alt"></i> Ranking Geral
                        </a>
                    </li>
                </ul>

                <ul class="navbar-nav ml-auto">
                    {% if user.administrator %}
                        <li class="nav-item">
                            <a href="{{ path_for("administrator.control.index") }}" class="nav-link">
                                <i class="fas fa-wrench"></i> Administração
                            </a>
                        </li>
                    {% endif %}

                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle align-self-center" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {% set pvp_count = 0 %}
                            {% for pvp in pvps %}
                                {% if not pvp.getCompleted %}
                                    {% set pvp_count = pvp_count + 1 %}
                                {% endif %}
                            {% endfor %}
                            {% if pvp_count > 0 %}
                                <span class="badge badge-pill badge-white"><i class="animated infinite pulse text-danger fas fa-gamepad fa-2x"></i></span>
                            {% else %}
                                <span class=""><i class="fas fa-gamepad fa"></i></span>
                            {% endif %}
                        </a>

                        <div class="pvp-dropdown-menu dropdown-menu dropdown-menu-right mt-2 px-2 text-center animated zoomInDown">
                            <h5 class="card-title">PVP</h5>
                            
                            <ul class="list-group card">
                                {% set pvp_count = 0 %}
                                {% for pvp in pvps %}
                                    {% if not pvp.getCompleted %}
                                        <li class="list-group-item px-0 py-0">
                                            <div class="card-body">
                                                <p class="mb-0">Você foi desafiado por {{ pvp.getChallenger.getFullname }}</p>
                                                <small>Atividade: {{ pvp.getActivity.getTitle }}</small>
                                                <hr />

                                                <div class="row">
                                                    <div class="col-6">
                                                        <a href="{{ path_for("activities.pvp", {challenge: pvp.getId}) }}" class="btn btn-success w-100"><i class="fas fa-check"></i></a>
                                                    </div>

                                                    <div class="col-6">
                                                        <a href="{{ path_for("activities.deny", {id: pvp.getId}) }}" class="btn btn-danger w-100"><i class="fas fa-times"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        {% set pvp_count = pvp_count + 1 %}
                                    {% endif %}
                                {% endfor %}

                                {% if pvp_count == 0 %}
                                    <div class="row">
                                        <div class="col-12 text-center">
                                            <p class="my-3">Você não tem nenhum desafio pendente</p>
                                        </div>
                                    </div>
                                {% endif %}
                            </ul>

                            <div class="row mt-2">
                                <div class="col-6">
                                    <a href="{{ path_for("dashboard.pvp.new") }}" class="btn btn-cosmo-color-2 w-100">
                                        <i class="fas fa-plus-square"></i>
                                    </a>
                                </div>

                                <div class="col-6">
                                    <a href="{{ path_for("dashboard.pvp.history") }}" class="btn btn-cosmo-color-2 w-100">
                                        <i class="fas fa-clock"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                            <div class = "myStats text-center">
                                    <span class="animated infinite pulse  coin-badge badge badge-pill badge-cosmo-color-7 text-white">
                                        <div class = "d-flex justify-content-center">
                                            <i class="fas fa-coins fa-2x"> </i> <span class = "p-2">¢ {{user.moedas}}</span>
                                        </div>
                                    </span> 
                                    <span class = "animated infinite pulse xp-badge badge badge-pill badge-cosmo-color-8">
                                            <div class = "d-flex justify-content-center">
                                                <i class="fas fa-brain fa-2x" ></i> <span class = "p-2"> {{user.xp}}</span>
                                            </div>
                                    </span>
                                </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a id="user-dropdown" href="#" class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img class="rounded-circle" src="{{ user.avatar }}" style = "width: 32px;height: 32px;"/> {{ user.nickname }}
                        </a>
                        <div class= "dropdown-menu dropdown-menu-right mt-2" aria-labelledby="user-dropdown">
                        
                            <div class = "dropdown-divider"></div>
                            <a class = "dropdown-item" href = "{{path_for('dashboard.profile')}}"><i class = "fas fa-eye"></i> Ver Perfil</a>
                            <a class = "dropdown-item" href = "{{path_for('dashboard.profile.edit')}}"><i class = "fas fa-edit"></i> Editar Perfil</a>
                        
                            <div class = "dropdown-divider"></div>
                            <a class = "dropdown-item" href = "{{path_for('login.logout')}}" style = "color: #771017"><i class="fas fa-power-off"></i> Sair</a>
                        </div>
                    </li>
                </ul>
            </div>    
        </nav>

        <div class="container my-2 wrapper">
            <span class="display-4">{{ page_title }}</span>

            {% block breakcrumb %}{% endblock %}
            {% block content %}{% endblock %}
        </div>

        <div id="loader-modal" class="loader d-none">
            <div class="row d-flex align-items-center">
                <div class="loader-spinner col-12 text-center">
                    <div class="spinner-border text-light" role="status">
                        <span class="sr-only">Carregando...</span>
                    </div>
                </div>
            </div>
        </div>

        <footer class="footer bg-cosmo-color-2 py-2" style = "width: 100%; bottom: 0">
            <div class="container">
                <div class="row">
                    <div class="col-6 text-left">
                        <p class="mb-0 text-white">Copyright &copy; 2019 | <a href="https://github.com/TeleMidia-MA/" class="text-white" target="__blank" alt="Telemídia - MA">Telemídia - MA</a></p>
                    </div>

                    <div class="col-6 text-right">
                        <p class="mb-0 text-white">Versão: {{ version }}</p>
                    </div>
                </div>
            </div>
        </footer>

        <script type="text/javascript">
            window.base_url = "{{ base_url() }}";
        </script>
        
        {% block scripts %}{% endblock %}
        <script>
            function openNav() {
                document.getElementById("sidebar").style.left = "0";
            }
            function closeNav() {
                document.getElementById("sidebar").style.left = "-15rem";
            }
        </script>
    </body>
</html>