{% set appname = "Cosmo" %}
{% set version = "0.2.1" %}

<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <link rel="stylesheet" href="/dist/css/main.min.css">

        {% block styles %}{% endblock %}

        <title>{{ page_title }} - {{ appname }}</title>
    </head>
    
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-cosmo-color-1">
            <a href="{{ path_for("dashboard.index") }}" class="navbar-brand"><b>{{ appname }}</b>Telemídia</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-content-collapse" aria-controls="navbar-content-collapse" aria-expanded="false" aria-toggle="Alternar navegação">
                <i class="navbar-toggler-icon"></i>
            </button>

            <div id="navbar-content-collapse" class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a href="{{ path_for("dashboard.index") }}" class="nav-link">
                            <i class="fas fa-tachometer-alt"></i> Dashboard
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="{{ path_for("dashboard.history") }}" class="nav-link">
                            <i class="fas fa-history"></i> Histórico
                        </a>
                    </li>
                    
                    {# <li class="nav-item">
                        <a href="{{ path_for("dashboard.ranking") }}" class="nav-link">
                            <i class="fas fa-chart-bar"></i> Ranking
                        </a>
                    </li> #}
                </ul>

                 <ul class="navbar-nav ml-auto">
                    {% if attributes.administrator %}
                        <li class="nav-item">
                            <a href="{{ path_for("administrator.control.index") }}" class="nav-link">
                                <i class="fas fa-wrench"></i> Administração
                            </a>
                        </li>
                    {% endif %}

                    <li class="nav-item dropdown">
                        <a id="user-dropdown" href="#" class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-user"></i> {{ attributes.nickname }}
                        </a>

                        <div class="menu-user-dropdown dropdown-menu dropdown-menu-right px-2 py-2" aria-labelledby="user-dropdown">
                            <div class="row">
                                <div class="col-md-4">
                                    <img class="img-fluid" src="{{ attributes.avatar }}">
                                </div>

                                <div class="col-md-8 my-2">
                                    <h5 class="mb-0">{{ attributes.fullname }}</h5>
                                    <p class="mb-0"><small>{{ attributes.username }}</small></p>
                                </div>
                                
                                <div class="col-md-6 mt-2">
                                    <a href="{{ path_for("dashboard.profile") }}" class="btn btn-cosmo-color-1 w-100">Configurações</a>
                                </div>

                                <div class="col-md-6 mt-2">
                                    <a href="{{ path_for('login.logout') }}" class="btn btn-danger w-100">Sair</a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="container my-2 wrapper">
            <span class="display-4">{{ page_title }}</span>
            {# <h1>
                {{ page_title }}
                <small>{{ page_description }}</small>
            </h1> #}

            {% block breakcrumb %}{% endblock %}

            {% block content %}{% endblock %}
        </div>

        <footer class="footer bg-cosmo-color-2 py-3">
            <div class="container">
                <div class="row">
                    <div class="col-6 text-left">
                        <p class="mb-0 text-white">Copyright &copy; 2019 | <a href="https://github.com/TeleMidia-MA/" class="text-white" target="__blank" alt="Telemídia - MA">Telemídia - MA</a></p>
                    </div>

                    <div class="col-6 text-right">
                        <p class="mb-0 text-white">Versão: {{ version }}</p>
                    </div>
                </div>
            </div>
        </footer>

        <div id="loader-modal" class="loader d-none">
            <div class="row d-flex align-items-center">
                <div class="loader-spinner col-12 text-center">
                    <div class="spinner-border text-light" role="status">
                        <span class="sr-only">Carregando...</span>
                    </div>
                </div>
            </div>
        </div>
    
        <script type="text/javascript" src="/dist/js/main.js"></script>
        <script type="text/javascript" src="/dist/js/script.min.js"></script>
        {% block scripts %}{% endblock %}
    </body>
</html>