{% extends "View/layout.twig" %}
{% set page_title = "Turmas" %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <a href="{{ path_for("administrator.control.classes.new") }}" class="btn btn-cosmo-color-1 float-right">Novo</a>
        </div>
    </div>

    <div class="row my-4">
        <div class="col-md-4">
            <div class="nav flex-column nav-pills mb-4" role="tablist" aria-orientation="vertical">
                <a class="nav-link" href="{{ path_for("administrator.control.users") }}">Usuários</a>
                <a class="nav-link" href="{{ path_for("administrator.control.activities") }}">Atividades</a>
                <a class="nav-link" href="{{ path_for("administrator.control.groupactivities") }}">Grupo de atividades</a>
                <a class="nav-link active" href="{{ path_for("administrator.control.classes") }}">Turmas</a>
            </div>
        </div>

        <div class="col-md-8">
            <div class="row">
                {% for class in classes %}
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title mb-0">{{ class.getTitle }}</h5>
                            </div>

                            <div class="card-body">
                                <p class="text-muted mb-0">{{ class.getStudents|length }} alunos - {{ class.getGroups|length }} habilidades</p>
                            </div>

                            <div class="card-footer">
                                <div class="row">
                                    <div class="col-6">
                                        <a href="{{ path_for("administrator.control.classes.view", {id: class.getId}) }}" class="btn btn-cosmo-color-1 w-100">Ver turma</a>
                                    </div>

                                    <div class="col-6">
                                        <a href="#" class="btn btn-danger w-100">Remover</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}