{% extends "View/layout.twig" %}
{% block pagetitle %}Administração do Cosmo{% endblock %}
{% block title %}Administração do Cosmo{% endblock %}

{% block scripts %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-4 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-yellow">
                <div class="inner">
                    <h3>{{ data.users }}</h3>

                    <p>Usuários</p>
                </div>
                <div class="icon">
                    <i class="fa fa-user"></i>
                </div>
                <a href="{{ path_for("administrator.control.users") }}" class="small-box-footer">
                    Listar
                </a>
            </div>
        </div>

        <div class="col-lg-4 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-green">
                <div class="inner">
                    <h3>{{ data.activities }}</h3>

                    <p>Atividades</p>
                </div>
                <div class="icon">
                    <i class="fa fa-book"></i>
                </div>
                <a href="{{ path_for("administrator.control.activities") }}" class="small-box-footer">
                    Listar
                </a>
            </div>
        </div>

        <div class="col-lg-4 col-xs-6">
            <div class="small-box bg-blue">
                <div class="inner">
                    <h3>{{ data.group_activities }}</h3>
                    <p>Grupos de atividades</p>
                </div>
                <div class="icon">
                    <i class="fa fa-bookmark"></i>
                </div>
                <a href="{{ path_for("administrator.control.groupactivities") }}" class="small-box-footer">Listar</div>
            </div>
        </div>
    </div>
{% endblock %}